{% extends 'core/base.html' %}
{% load static %}
{% load tailwind_tags custom_date_formatter number_formatting %}

{# Title of the page #}
{% block title %}Sigin into a class{% endblock %}

{# Body styles #}
{% block body_styles %} 
{% endblock body_styles %}

{% block header %}
  {% include "components/header.html" with nav_actions='levels' %}
{% endblock header %}

{# Body of the page #}
{% block body %}
<main>
    <div
        class="absolute inset-0 h-dvh w-full bg-whiteColor bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:24px_24px]">
        <div class="overflow-hidden flex flex-col items-center justify-center gap-4 h-screen text-center px-4 lg:p-0">
            {% if request.user.is_superuser %}
                <div class="flex gap-2 outline outline-1 outline-gray-500 text-gray-500 ps-[3px] pe-4 py-0.5 rounded-full backdrop-blur-md">
                    <small class="flex items-center gap-1">
                        <span class="flex items-center gap-1 font-bold bg-primaryColor text-whiteColor px-3 py-0.5 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" class="w-5">
                                <path d="M7 2C4.23858 2 2 4.23858 2 7C2 8.85071 3.0055 10.4666 4.5 11.3311V17.8431C4.5 18.6606 4.5 19.0694 4.65224 19.4369C4.80448 19.8045 5.09351 20.0935 5.67157 20.6716L7 22L9.10819 19.8918C9.20542 19.7946 9.25407 19.7459 9.2944 19.6932C9.40031 19.5547 9.46816 19.3909 9.49122 19.218C9.5 19.1522 9.5 19.0834 9.5 18.9459C9.5 18.8346 9.5 18.779 9.4941 18.7249C9.47864 18.5831 9.43303 18.4463 9.36035 18.3236C9.33263 18.2768 9.29924 18.2323 9.23246 18.1433L8 16.5L8.7 15.5667C9.09649 15.038 9.29473 14.7737 9.39737 14.4658C9.5 14.1579 9.5 13.8275 9.5 13.1667V11.3311C10.9945 10.4666 12 8.85071 12 7C12 4.23858 9.76142 2 7 2Z" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
                                <path d="M7 7H7.00898" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M13 14H19C19.9319 14 20.3978 14 20.7654 14.1522C21.2554 14.3552 21.6448 14.7446 21.8478 15.2346C22 15.6022 22 16.0681 22 17C22 17.9319 22 18.3978 21.8478 18.7654C21.6448 19.2554 21.2554 19.6448 20.7654 19.8478C20.3978 20 19.9319 20 19 20H13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                <path d="M15 5H19C19.9319 5 20.3978 5 20.7654 5.15224C21.2554 5.35523 21.6448 5.74458 21.8478 6.23463C22 6.60218 22 7.06812 22 8C22 8.93188 22 9.39782 21.8478 9.76537C21.6448 10.2554 21.2554 10.6448 20.7654 10.8478C20.3978 11 19.9319 11 19 11H15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                            </svg>
                            <span>super admin</span>
                        </span> 
                        you're having full access to all classes
                    </small>
                </div>
              {% else %}
                <div class="flex gap-2 outline outline-1 outline-gray-500 text-gray-500 ps-[3px] pe-4 py-0.5 rounded-full backdrop-blur-md">
                    <small class="flex items-center gap-1">
                        <span class="flex items-center gap-1 font-bold bg-success text-whiteColor px-3 py-0.5 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" class="w-5">
                                <path d="M4 9.20429C4 7.13113 4 6.09456 4.35762 5.25269C4.65634 4.54947 5.1278 3.94587 5.7219 3.50605C6.43314 2.97951 7.38764 2.79409 9.29665 2.42323C11.2817 2.03759 12.2743 1.84477 13.0467 2.15204C13.6884 2.4073 14.229 2.88941 14.5789 3.5183C15 4.27535 15 5.35324 15 7.50903V16.4909C15 18.6467 15 19.7246 14.5789 20.4816C14.229 21.1105 13.6884 21.5926 13.0467 21.8479C12.2743 22.1552 11.2817 21.9623 9.29665 21.5767C7.38764 21.2058 6.43314 21.0204 5.7219 20.4939C5.1278 20.0541 4.65634 19.4505 4.35762 18.7472C4 17.9054 4 16.8688 4 14.7956V9.20429Z" stroke="currentColor" stroke-width="1.5" />
                                <path d="M15 19.7982C16.4473 19.9487 18.3999 20.4116 19.4375 19.0884C20 18.3712 20 17.2786 20 15.0933V8.9066C20 6.72135 20 5.62872 19.4375 4.91149C18.3999 3.58837 16.4473 4.05125 15 4.20173" stroke="currentColor" stroke-width="1.5" />
                                <path d="M12 13L12 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M19 19.7266L22 19.7266" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M2 20H5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <span>staff</span>
                        </span> 
                        you're admin of the following classes
                    </small>
                </div>
            {% endif %}
            <h1 class="text-3xl lg:text-5xl font-bold font-sans">
                So you're a course delegate uhh... <br>
                which level/group you wanna manage now?
            </h1>
            <p class="mt-4 text-center">
                Make man go see shege before say chopam. This life ehh ... e no fair!<br>
                How much am I even making? pfff
            </p>

            {% if levels.count < 1 %}
            <div class="relative -bottom-20 max-w-screen-lg flex flex-col items-center gap-8">
                <span href="{% url 'core:levels' %}"
                        class="px-6 py-2 rounded-full border border-dashed border-gray-500 text-gray-500 text-base">
                        classes coming soon
                    </span>
    
                <div class="grid grid-cols-12 items-center justify-center -space-x-3 w-full">
                    <img src="{% static 'core/images/cta2.jpg' %}" alt=""
                         class="col-span-4 h-full object-cover grayscale blur-[2px] -rotate-6 mt-10 shadow-lg rounded-xl ring-2 ring-offset-2 ring-primaryColor">
                    <img src="{% static 'core/images/cta1.jpg' %}" alt=""
                         class="col-span-4 h-full object-cover grayscale blur-[2px] rotate-3 shadow-lg rounded-xl ring-2 ring-offset-2 ring-secondaryColor">
                    <img src="{% static 'core/images/cta3.jpg' %}" alt=""
                         class="col-span-4 h-full object-cover grayscale blur-[2px] -rotate-3 mt-1 shadow-lg rounded-xl ring-2 ring-offset-2 ring-primaryColor">
                </div>
            </div>
            {% endif %}
        </div>

        <div class="absolute -top-8 blur-2xl opacity-50 w-full max-w-screen-xl h-16 bg-gradient-to-r from-primaryColor to-secondaryColor rounded-[300%]"></div>

        <section class="relative -top-32 px-14 py-10 grid grid-cols-12 gap-2 m-auto max-w-screen-xl">
            {% for level in levels %}
                {% if level.is_visible %}
                <a href="{% url 'core:dashboard' level_pk=level.id level_slug=level.slug %}" class="col-span-4 flex flex-col items-start gap-2 text-left shadow hover:shadow-lg rounded-2xl p-4 border outline outline-0 outline-transparent hover:outline hover:outline-1 hover:outline-darkColor border-darkColor bg-whiteColor hover:bg-whiteHover transition-all duration-200 ease-linear">
                    <div class="leading-tight uppercase w-full">
                        {% if level.group %}
                        <h3 class="text-2xl font-bold">
                            {{ level.get_level_display }}, Group {{ level.group}}
                        </h3>
                        {% else %}
                        <h3 class="text-2xl font-bold">
                            {{ level.get_level_display }}
                        </h3>
                        {% endif %}
                        <div class="flex items-center justify-between text-gray-500">
                            <div class="flex items-center gap-2">
                                <small>{{ level.semester}} {{ level.year }}</small>
                                <small class="capitalize text-xs text-gray-400 px-2 py-0.5 rounded-full bg-gray-200">
                                    {{ level.created_at }}
                                </small>
                            </div>
                            <small> {{ level.department }} </small>
                        </div>
                    </div>
                    <hr class="w-full border-gray-500">
                    {% if level.about %}
                    <p class="text-base text-gray-500">
                        {{ level.about }}
                    </p>
                    {% else %}
                    <p class="text-base text-gray-500">
                        Welcome to this {{ level.get_level_display }}! Explore and discover more about it. 
                        Don't worry, it's a secret club. We only share the best memes here. 😄
                    </p>
                    {% endif %}
    
                    <div class="min-h-5 h-full"></div>
    
                    <div class="flex justify-between items-center w-full">
                        <div class="flex flex-col">
                            <div class="flex gap-2 text-secondaryColor">
                                {% if level.main_hall == 'Online' or level.main_hall == 'online' %}
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" class="w-5">
                                        <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5" />
                                        <path d="M8 12C8 18 12 22 12 22C12 22 16 18 16 12C16 6 12 2 12 2C12 2 8 6 8 12Z" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
                                        <path d="M21 15H3" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M21 9H3" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                  {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" class="w-5">
                                        <path d="M2 22H22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                        <path d="M18 9H14C11.518 9 11 9.518 11 12V22H21V12C21 9.518 20.482 9 18 9Z" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
                                        <path d="M15 22H3V5C3 2.518 3.518 2 6 2H12C14.482 2 15 2.518 15 5V9" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
                                        <path d="M3 6H6M3 10H6M3 14H6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                        <path d="M15 13H17M15 16H17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                        <path d="M16 22L16 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                {% endif %}
                                <small>
                                    {{ level.main_hall }}
                                </small>
                            </div>
                            {% if level.secondary_hall %}
                            <div class="flex items-center gap-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" class="w-4">
                                    <path d="M16.9767 19.5C19.4017 17.8876 21 15.1305 21 12C21 7.02944 16.9706 3 12 3C11.3126 3 10.6432 3.07706 10 3.22302M16.9767 19.5V16M16.9767 19.5H20.5M7 4.51555C4.58803 6.13007 3 8.87958 3 12C3 16.9706 7.02944 21 12 21C12.6874 21 13.3568 20.9229 14 20.777M7 4.51555V8M7 4.51555H3.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <small class="text-xs">
                                    {{ level.secondary_hall }}
                                </small>
                            </div>
                            {% endif %}
                        </div>
    
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" class="text-secondaryColor">
                            <path d="M9.00005 6C9.00005 6 15 10.4189 15 12C15 13.5812 9 18 9 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </a>
                {% endif %}                
            {% endfor %}
        </section>
    </div>
</main>

{% include "components/message.html" %}
{% endblock body %}

{% block javascript %}
{% endblock javascript %}