{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en" class="scroll-smooth bg-whiteColor">

<head>
    <!-- og meta tags -->
    {% block meta_tags %}

    {% endblock meta_tags %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        Attendy Dashboard - {% block title %}{% endblock title %}
    </title>

    {# Favicon #}
    <link rel="shortcut icon" href="{% static 'core/images/attendy.svg' %}" type="image/x-icon">

    {# Icons ~ HugeIcons, Free Stroke rounded icons. #}
    <!-- SVG codes of icons are directly obtained (copied) from https://hugeicons.com/icons -->

    {# CSS: Tailwind, Custom #}
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'core/css/app.css' %}">
    {% block extra_styles %}{% endblock extra_styles %}

    <!-- Chart.js -->
    <script src="{% static 'core/js/chart-v4.4.4.js' %}"></script>

</head>

<body class="font-sans text-lg text-darkColor bg-whiteColor {% block body_styles %}{% endblock body_styles %}">

    {% block header %}

    {% endblock header %}

    {% block body %}

    {% endblock %}

    {# JS and Additional javascript #}
    {% block javascript %}

    {% endblock javascript %}
    <!-- Flowbite JS script -->
    <script src="{% static 'core/js/flowbite.js' %}"></script>
</body>

</html>