{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en" class="scroll-smooth bg-whiteColor">

<head>
    <!-- og meta tags -->
    {% block meta_tags %}

    {% endblock meta_tags %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Primary Meta Tags -->
    <title>Attendy - Student Attendance Management System - {% block title %}{% endblock title %}</title>
    <meta name="title" content="Attendy - Student Attendance Management System" />
    <meta name="description" content="Welcome to Attendy, a web application designed to make student attendance management seamless and efficient. Whether you're a student, educator, or administrator, Attendy simplifies tracking attendance, organizing courses, and managing teaching records." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://attendy-xsbr.onrender.com/" />
    <meta property="og:title" content="Attendy - Student Attendance Management System" />
    <meta property="og:description" content="Welcome to Attendy, a web application designed to make student attendance management seamless and efficient. Whether you're a student, educator, or administrator, Attendy simplifies tracking attendance, organizing courses, and managing teaching records." />
    <meta property="og:image" content="https://github.com/Joel-Fah/images/blob/main/attendy_meta_image.png?raw=true" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://attendy-xsbr.onrender.com/" />
    <meta property="twitter:title" content="Attendy - Student Attendance Management System" />
    <meta property="twitter:description" content="Welcome to Attendy, a web application designed to make student attendance management seamless and efficient. Whether you're a student, educator, or administrator, Attendy simplifies tracking attendance, organizing courses, and managing teaching records." />
    <meta property="twitter:image" content="https://github.com/Joel-Fah/images/blob/main/attendy_meta_image.png?raw=true" />


    {# Favicon #}
    <link rel="shortcut icon" href="{% static 'core/images/attendy.svg' %}" type="image/x-icon">

    {# Icons ~ HugeIcons, Free Stroke rounded icons. #}
    <!-- SVG codes of icons are directly obtained (copied) from https://hugeicons.com/icons -->

    {# CSS: Tailwind, Custom #}
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    {% block styles %}{% endblock styles %}

</head>

<body class="font-sans text-lg text-darkColor bg-whiteColor {% block body_styles %}{% endblock body_styles %}">

    {# Header of the page #}
    {% block header %}

    {% endblock header %}

    {# Body of the page #}
    {% block body %}

    {% endblock body %}

    {# Footer of the page #}
    {% block footer %}

    {% endblock footer %}

    {# JS and Additional javascript #}
    {% block javascript %}

    {% endblock javascript %}

</body>

</html>