{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en" class="scroll-smooth bg-whiteColor">

<head>
    <!-- og meta tags -->
    {% block meta_tags %}

    {% endblock meta_tags %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        Attendy - {% block title %}{% endblock title %}
    </title>

    {# Favicon #}
    <link rel="shortcut icon" href="{% static 'core/images/attendy.svg' %}" type="image/x-icon">

    {# Icons ~ HugeIcons, Free Stroke rounded icons. #}
    <!-- SVG codes of icons are directly obtained (copied) from https://hugeicons.com/icons -->

    {# CSS: Tailwind, Custom #}
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    {% block styles %}{% endblock styles %}

</head>

<body class="font-sans text-lg text-darkColor bg-whiteColor {% block body_styles %}{% endblock body_styles %}">

    {# Header of the page #}
    {% block header %}

    {% endblock header %}

    {# Body of the page #}
    {% block body %}

    {% endblock body %}

    {# Footer of the page #}
    {% block footer %}

    {% endblock footer %}

    {# JS and Additional javascript #}
    {% block javascript %}

    {% endblock javascript %}

</body>

</html>