{% extends 'core/base_app.html' %}
{% load static %}
{% load tailwind_tags number_formatting %}

{# Title of the page #}
{% block title %}Home{% endblock %}

{# Extra styles #}
{% block extra_styles %}
    <style>
        #ad {
            background-image: url("{% static 'core/images/bg-ad.png' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
{% endblock extra_styles %}

{# Header of the page #}
{% block header %}
    {% include "components/header_app.html" %}
{% endblock header %}

{# Body of the page #}
{% block body %}
    <main class="relative">
        {% include 'components/message.html' %}

        <div class="p-4 sm:ml-64">
            <div class="rounded-lg mt-14">
                <div class="grid grid-cols-12 gap-4">
                    <div class="flex col-span-12">
                        <h2 class="text-2xl">Overall Stats</h2>
                    </div>

                    <div class="col-span-12 flex items-center justify-evenly backdrop-blur-xl px-6 py-2.5 rounded-2xl outline outline-1 outline-secondaryColor shadow-lg">

                        <div class="flex flex-col">
                            <h3 class="text-3xl text-secondaryColor font-bold">
                                {{ course_attendance_count|thousand_separator }}
                            </h3>
                            <div class="flex items-center gap-1">
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg" class="w-4 h-5 text-gray-500">
                                    <path
                                            d="M7 22C9.20914 22 11 20.2091 11 18C11 15.7909 9.20914 14 7 14C4.79086 14 3 15.7909 3 18C3 20.2091 4.79086 22 7 22Z"
                                            stroke="#6b7280" stroke-width="3" stroke-linejoin="round"/>
                                    <path
                                            d="M18 10C20.2091 10 22 8.20914 22 6C22 3.79086 20.2091 2 18 2C15.7909 2 14 3.79086 14 6C14 8.20914 15.7909 10 18 10Z"
                                            stroke="#6b7280" stroke-width="3" stroke-linejoin="round"/>
                                    <path
                                            d="M6.5 10C8.70914 10 10.5 8.20914 10.5 6C10.5 3.79086 8.70914 2 6.5 2C4.29086 2 2.5 3.79086 2.5 6C2.5 8.20914 4.29086 10 6.5 10Z"
                                            fill="#6b7280" stroke="#6b7280" stroke-width="3" stroke-linejoin="round"/>
                                    <path d="M21.9999 14.5L15 21.5M15.0001 14.5L22 21.5" stroke="#6b7280"
                                          stroke-width="3"
                                          stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <small class="text-gray-500">Attendances</small>
                            </div>
                        </div>

                        <div class="w-[1.5px] h-12 bg-secondaryColor"></div>

                        <div class="flex flex-col">
                            <h3 class="text-3xl text-secondaryColor font-bold">
                                {{ courses.count|thousand_separator }}
                            </h3>
                            <div class="flex items-center gap-1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                     fill="none"
                                     class="w-4 h-5 text-gray-500">
                                    <path
                                            d="M14.5 5L12.5 5C9.67157 5 8.25736 5 7.37868 5.87868C6.5 6.75736 6.5 8.17157 6.5 11L6.5 16C6.5 18.8284 6.5 20.2426 7.37868 21.1213C8.25736 22 9.67157 22 12.5 22H13.8431C14.6606 22 15.0694 22 15.4369 21.8478C15.8045 21.6955 16.0935 21.4065 16.6716 20.8284L19.3284 18.1716C19.9065 17.5935 20.1955 17.3045 20.3478 16.9369C20.5 16.5694 20.5 16.1606 20.5 15.3431V11C20.5 8.17157 20.5 6.75736 19.6213 5.87868C18.7426 5 17.3284 5 14.5 5Z"
                                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                    <path
                                            d="M15 21.5L15 20.5C15 18.6144 15 17.6716 15.5858 17.0858C16.1716 16.5 17.1144 16.5 19 16.5L20 16.5"
                                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                    <path
                                            d="M6.5 19C4.84315 19 3.5 17.6569 3.5 16L3.5 8C3.5 5.17157 3.5 3.75736 4.37868 2.87868C5.25736 2 6.67157 2 9.5 2L14.5004 2C16.1572 2.00001 17.5004 3.34319 17.5004 5.00003"
                                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                    <path d="M10.0011 13L14.0011 13M10.0011 9L17.0011 9" stroke="currentColor"
                                          stroke-width="1.5"
                                          stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <small class="text-gray-500">Courses</small>
                            </div>
                        </div>

                        <div class="w-[1.5px] h-12 bg-secondaryColor"></div>

                        <div class="flex flex-col">
                            <h3 class="text-3xl text-secondaryColor font-bold">
                                {{ students.count|thousand_separator }}
                            </h3>
                            <div class="flex items-center gap-1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                     fill="none"
                                     class="w-4 h-5 text-gray-500">
                                    <path
                                            d="M20.7739 18C21.5232 18 22.1192 17.5285 22.6543 16.8691C23.7498 15.5194 21.9512 14.4408 21.2652 13.9126C20.5679 13.3756 19.7893 13.0714 18.9999 13M17.9999 11C19.3806 11 20.4999 9.88071 20.4999 8.5C20.4999 7.11929 19.3806 6 17.9999 6"
                                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
                                    <path
                                            d="M3.2259 18C2.47659 18 1.88061 17.5285 1.34548 16.8691C0.250028 15.5194 2.04861 14.4408 2.73458 13.9126C3.43191 13.3756 4.21052 13.0714 4.99994 13M5.49994 11C4.11923 11 2.99994 9.88071 2.99994 8.5C2.99994 7.11929 4.11923 6 5.49994 6"
                                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
                                    <path
                                            d="M8.08368 15.1112C7.0619 15.743 4.38286 17.0331 6.01458 18.6474C6.81166 19.436 7.6994 20 8.8155 20H15.1843C16.3004 20 17.1881 19.436 17.9852 18.6474C19.6169 17.0331 16.9379 15.743 15.9161 15.1112C13.52 13.6296 10.4797 13.6296 8.08368 15.1112Z"
                                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                    <path
                                            d="M15.4999 7.5C15.4999 9.433 13.9329 11 11.9999 11C10.0669 11 8.49988 9.433 8.49988 7.5C8.49988 5.567 10.0669 4 11.9999 4C13.9329 4 15.4999 5.567 15.4999 7.5Z"
                                            stroke="currentColor" stroke-width="1.5"/>
                                </svg>
                                <small class="text-gray-500">Students</small>
                            </div>
                        </div>

                        <div class="w-[1.5px] h-12 bg-secondaryColor"></div>

                        <div class="flex flex-col">
                            <h3 class="text-3xl text-secondaryColor font-bold">
                                {{ lecturers.count|thousand_separator }}
                            </h3>
                            <div class="flex items-center gap-1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                     fill="none" class="w-4 h-5 text-gray-500">
                                    <path d="M13 15C10.7083 21 4.29167 15 2 21" stroke="currentColor" stroke-width="1.5"
                                          stroke-linecap="round" stroke-linejoin="round"/>
                                    <path
                                            d="M15.5 15H17.0013C19.3583 15 20.5368 15 21.2691 14.2678C22.0013 13.5355 22.0013 12.357 22.0013 10V8C22.0013 5.64298 22.0013 4.46447 21.2691 3.73223C20.5368 3 19.3583 3 17.0013 3H13.0013C10.6443 3 9.46576 3 8.73353 3.73223C8.11312 4.35264 8.01838 5.29344 8.00391 7"
                                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                    <circle cx="7.5" cy="12.5" r="2.5" stroke="currentColor" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 7H18M18 11H15" stroke="currentColor" stroke-width="1.5"
                                          stroke-linecap="round"
                                          stroke-linejoin="round"/>
                                </svg>
                                <small class="text-gray-500">Lecturers</small>
                            </div>
                        </div>

                        <div class="w-[1.5px] h-12 bg-secondaryColor"></div>

                        <div class="flex flex-col">
                            <h3 class="text-3xl text-secondaryColor font-bold">
                                {{ teaching_records.count|thousand_separator }}
                            </h3>
                            <div class="flex items-center gap-1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                     fill="none"
                                     class="w-4 h-5 text-gray-500">
                                    <path
                                            d="M16.6127 16.0846C13.9796 17.5677 12.4773 20.6409 12 21.5V8C12.4145 7.25396 13.602 5.11646 15.6317 3.66368C16.4868 3.05167 16.9143 2.74566 17.4572 3.02468C18 3.30371 18 3.91963 18 5.15146V13.9914C18 14.6568 18 14.9895 17.8634 15.2233C17.7267 15.4571 17.3554 15.6663 16.6127 16.0846L16.6127 16.0846Z"
                                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                    <path
                                            d="M12 7.80556C11.3131 7.08403 9.32175 5.3704 5.98056 4.76958C4.2879 4.4652 3.44157 4.31301 2.72078 4.89633C2 5.47965 2 6.42688 2 8.32133V15.1297C2 16.8619 2 17.728 2.4626 18.2687C2.9252 18.8095 3.94365 18.9926 5.98056 19.3589C7.79633 19.6854 9.21344 20.2057 10.2392 20.7285C11.2484 21.2428 11.753 21.5 12 21.5C12.247 21.5 12.7516 21.2428 13.7608 20.7285C14.7866 20.2057 16.2037 19.6854 18.0194 19.3589C20.0564 18.9926 21.0748 18.8095 21.5374 18.2687C22 17.728 22 16.8619 22 15.1297V8.32133C22 6.42688 22 5.47965 21.2792 4.89633C20.5584 4.31301 19 4.76958 18 5.5"
                                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                </svg>
                                <small class="text-gray-500">Records</small>
                            </div>
                        </div>
                    </div>

                    <div id="ad"
                         class="col-span-12 relative flex flex-col items-start justify-center overflow-hidden px-8 h-52 bg-primaryColor rounded-3xl shadow-lg">
                        <small class="text-whiteColor/50 text-sm">Attendy, the game changer.</small>
                        <h2 class="text-3xl font-bold max-w-sm my-2 text-whiteColor">
                            Your delegate journey must not always be a boring and loaded one.
                        </h2>
                        <small class="text-secondaryColor font-bold text-sm">Think big, and give your best!</small>
                        <img src="{% static 'core/images/logo-shapes.svg' %}" alt=""
                             class="absolute -bottom-1/3 right-0 w-1/2 -rotate-12">
                    </div>

                    <div class="col-span-12 mt-5 flex items-center justify-between">
                        <h2 class="text-2xl">Courses attendances by week</h2>
                        <div class="relative w-full lg:w-1/3">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-2.5 pointer-events-none">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                     fill="none">
                                    <path d="M17.5 17.5L22 22" stroke="currentColor" stroke-width="1.5"
                                          stroke-linecap="round"
                                          stroke-linejoin="round"/>
                                    <path
                                            d="M20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20C15.9706 20 20 15.9706 20 11Z"
                                            stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <input type="search" name="search_courses" id="search_courses"
                                   placeholder="search for a course..."
                                   class="w-full rounded-2xl block ps-10 p-2.5 bg-whiteColor border-darkColor placeholder-darkColor/50 focus:ring-primaryColor focus:border-primaryColor transition-all duration-300 ease-in-out">
                        </div>
                    </div>

                    <div class="col-span-12 flex flex-col">
                        {% for week, attendances in grouped_attendances.items %}
                            <small class="block text-sm text-secondaryColor">{{ week }}</small>
                            <ul class="border-l border-secondaryColor/20">
                                {% for attendance in attendances %}
                                    <li>
                                        <div class="flex items-center justify-between w-full px-4 py-2 hover:bg-secondaryColor/5 transition-all duration-300 ease-linear">
                                            <a href="" class="flex items-center gap-4">
                                                <span> {{ forloop.counter }}. </span>
                                                <div class="">
                                                    <small class="text-xs text-darkColor/50"> {{ attendance.created_at }}
                                                        | {{ attendance.course.semester }} {{ attendance.course.year }} </small>
                                                    <h3 class="text-xl font-medium"> {{ attendance.course.code }} {{ attendance.course.title }}
                                                    </h3>
                                                    <small class="flex items-center gap-4">
                                                        <div class="">
                                                            <span class="text-darkColor/50"> Lecturer: </span>
                                                            {{ attendance.course.lecturer.name }}
                                                        </div>

                                                        {% if attendance.course_delegate %}
                                                            <div class="">
                                                                <span class="text-darkColor/50">Delegate: </span>
                                                                {{ attendance.course_delegate.student.name }}
                                                            </div>
                                                        {% else %}
                                                            <span class="text-danger">No course delegate</span>
                                                        {% endif %}

                                                        {% if attendance.enrollment_count > 0 %}
                                                            <div class="">
                                                                <span class="text-darkColor/50">No. Students: </span>
                                                                {{ attendance.enrollment_count }}
                                                            </div>
                                                        {% else %}
                                                            <span class="text-danger">No students yet</span>
                                                        {% endif %}

                                                    </small>
                                                </div>
                                            </a>

                                            <div class="flex items-center gap-2">

                                                {% if attendance.teaching_record %}
                                                    <a href="{% url 'core:record_detail' pk=attendance.course.id slug=attendance.course.slug %}"
                                                       class="text-nowrap px-4 py-2 rounded-xl bg-secondaryColor text-white text-sm">
                                                        View associated record
                                                    </a>
                                                {% else %}
                                                    <a href=""
                                                       class="text-nowrap px-4 py-2 rounded-xl outline outline-1 outline-secondaryColor text-secondaryColor text-sm">
                                                        Add a teaching record
                                                    </a>
                                                {% endif %}
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                                     height="24" fill="none" class="text-secondaryColor">
                                                    <path d="M9.00005 6C9.00005 6 15 10.4189 15 12C15 13.5812 9 18 9 18"
                                                          stroke="currentColor" stroke-width="1.5"
                                                          stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% empty %}
                            <p>No attendances available.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock body %}