{% extends 'core/base.html' %}
{% load static %}
{% load tailwind_tags %}

{# Title of the page #}
{% block title %}Home{% endblock %}

{# Body styles #}
{% block styles %}
<style>
    #hero {
        background: url("{% static 'core/images/stars_bg.svg' %}");
        background-color: #050041;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    #numbers_img {
        background-image: url("{% static 'core/images/abstract.svg' %}"), url("{% static 'core/images/bg-ad.png' %}");
        background-color: #050041;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .text-outline {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff5ea;
    }
</style>
{% endblock styles %}

{# Header of the page #}
{% block header %}
{% include "components/header.html" %}
{% endblock header %}

{# Body of the page #}
{% block body %}
<main class="relative">
    {% include "components/message.html" %}

    <div
        id="hero" class="relative h-dvh overflow-hidden flex items-center justify-center text-whiteColor">
        <div class="flex flex-col items-center justify-center gap-2">
            <span class="outline outline-1 outline-whiteColor px-4 py-1 rounded-full text-sm opacity-80">no more</span>
            <h2 class="text-3xl md:text-4xl text-center font-medium mb-20">
                Délégué pleazzzzeeee,<br>
                <span id="typewriter" class=""></span>
            </h2>
        </div>
        <img src="{% static 'core/images/logo-shapes.svg' %} " alt=""
            class="absolute -bottom-20 md:-bottom-32 lg:-bottom-20 w-full md:scale-75 lg:scale-125 lg:w-1/2">
    </div>

    <section id="courses" class="max-w-screen-lg m-auto my-5 px-4 py-6">
        <div class="flex flex-col gap-4 items-center justify-center">
            <h2 class="text-2xl md:text-3xl text-center font-bold">
                Attendy comes in hand for our lovely
                <span class="block text-secondaryColor"> `course delegates` </span>
            </h2>

            <img src="{% static 'core/images/attendy-dashboard.png' %}" alt="Attendy Dashboard"
                class="border-2 border-primaryColor rounded-xl shadow-xl select-none pointer-events-none">

            <div class="features grid grid-cols-12 gap-2 md:gap-4 items-center justify-center w-full">
                <div
                    class="feature__item h-full col-span-12 md:col-span-6 flex flex-col gap-6 border border-secondaryColor py-2.5 px-4 rounded-2xl text-whiteColor bg-secondaryColor">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                            <path
                                d="M16 5C16 4.06812 16 3.60218 16.1522 3.23463C16.3552 2.74458 16.7446 2.35523 17.2346 2.15224C17.6022 2 18.0681 2 19 2C19.9319 2 20.3978 2 20.7654 2.15224C21.2554 2.35523 21.6448 2.74458 21.8478 3.23463C22 3.60218 22 4.06812 22 5V9C22 9.93188 22 10.3978 21.8478 10.7654C21.6448 11.2554 21.2554 11.6448 20.7654 11.8478C20.3978 12 19.9319 12 19 12C18.0681 12 17.6022 12 17.2346 11.8478C16.7446 11.6448 16.3552 11.2554 16.1522 10.7654C16 10.3978 16 9.93188 16 9V5Z"
                                stroke="currentColor" stroke-width="1.5" />
                            <path
                                d="M16 19C16 18.0681 16 17.6022 16.1522 17.2346C16.3552 16.7446 16.7446 16.3552 17.2346 16.1522C17.6022 16 18.0681 16 19 16C19.9319 16 20.3978 16 20.7654 16.1522C21.2554 16.3552 21.6448 16.7446 21.8478 17.2346C22 17.6022 22 18.0681 22 19C22 19.9319 22 20.3978 21.8478 20.7654C21.6448 21.2554 21.2554 21.6448 20.7654 21.8478C20.3978 22 19.9319 22 19 22C18.0681 22 17.6022 22 17.2346 21.8478C16.7446 21.6448 16.3552 21.2554 16.1522 20.7654C16 20.3978 16 19.9319 16 19Z"
                                stroke="currentColor" stroke-width="1.5" />
                            <path
                                d="M2 16C2 14.1144 2 13.1716 2.58579 12.5858C3.17157 12 4.11438 12 6 12H8C9.88562 12 10.8284 12 11.4142 12.5858C12 13.1716 12 14.1144 12 16V18C12 19.8856 12 20.8284 11.4142 21.4142C10.8284 22 9.88562 22 8 22H6C4.11438 22 3.17157 22 2.58579 21.4142C2 20.8284 2 19.8856 2 18V16Z"
                                stroke="currentColor" stroke-width="1.5" />
                            <path
                                d="M2 5C2 4.06812 2 3.60218 2.15224 3.23463C2.35523 2.74458 2.74458 2.35523 3.23463 2.15224C3.60218 2 4.06812 2 5 2H9C9.93188 2 10.3978 2 10.7654 2.15224C11.2554 2.35523 11.6448 2.74458 11.8478 3.23463C12 3.60218 12 4.06812 12 5C12 5.93188 12 6.39782 11.8478 6.76537C11.6448 7.25542 11.2554 7.64477 10.7654 7.84776C10.3978 8 9.93188 8 9 8H5C4.06812 8 3.60218 8 3.23463 7.84776C2.74458 7.64477 2.35523 7.25542 2.15224 6.76537C2 6.39782 2 5.93188 2 5Z"
                                stroke="currentColor" stroke-width="1.5" />
                        </svg>
                        <h3 class="text-2xl font-bold">Intuitive Dashboard</h3>
                        <h4 class="text-lg text-whiteColor/70">Your Attendance Overview at a Glance</h4>
                    </div>

                    <p>
                        Get a quick overview of your attendance with easy-to-read charts and stats. Your students stats
                        across all their courses at a glance.
                    </p>
                </div>

                <div
                    class="feature__item h-full col-span-12 md:col-span-6 flex flex-col gap-6 border border-secondaryColor py-2.5 px-4 rounded-2xl">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none"
                            class="">
                            <path
                                d="M14.5 5L12.5 5C9.67157 5 8.25736 5 7.37868 5.87868C6.5 6.75736 6.5 8.17157 6.5 11L6.5 16C6.5 18.8284 6.5 20.2426 7.37868 21.1213C8.25736 22 9.67157 22 12.5 22H13.8431C14.6606 22 15.0694 22 15.4369 21.8478C15.8045 21.6955 16.0935 21.4065 16.6716 20.8284L19.3284 18.1716C19.9065 17.5935 20.1955 17.3045 20.3478 16.9369C20.5 16.5694 20.5 16.1606 20.5 15.3431V11C20.5 8.17157 20.5 6.75736 19.6213 5.87868C18.7426 5 17.3284 5 14.5 5Z"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path
                                d="M15 21.5L15 20.5C15 18.6144 15 17.6716 15.5858 17.0858C16.1716 16.5 17.1144 16.5 19 16.5L20 16.5"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path
                                d="M6.5 19C4.84315 19 3.5 17.6569 3.5 16L3.5 8C3.5 5.17157 3.5 3.75736 4.37868 2.87868C5.25736 2 6.67157 2 9.5 2L14.5004 2C16.1572 2.00001 17.5004 3.34319 17.5004 5.00003"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M10.0011 13L14.0011 13M10.0011 9L17.0011 9" stroke="currentColor"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <h3 class="text-2xl font-bold">Courses</h3>
                        <h4 class="text-lg text-darkColor/70">Efficient Course Attendance Tracking</h4>
                    </div>

                    <p>
                        Manage your courses and keep track of attendance for each one. It's all about making sure you're
                        on top of your classes.
                    </p>
                </div>

                <div
                    class="feature__item h-full col-span-12 md:col-span-6 lg:col-span-4 flex flex-col gap-6 border border-secondaryColor py-2.5 px-4 rounded-2xl">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none"
                            class="">
                            <path
                                d="M20.7739 18C21.5232 18 22.1192 17.5285 22.6543 16.8691C23.7498 15.5194 21.9512 14.4408 21.2652 13.9126C20.5679 13.3756 19.7893 13.0714 18.9999 13M17.9999 11C19.3806 11 20.4999 9.88071 20.4999 8.5C20.4999 7.11929 19.3806 6 17.9999 6"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                            <path
                                d="M3.2259 18C2.47659 18 1.88061 17.5285 1.34548 16.8691C0.250028 15.5194 2.04861 14.4408 2.73458 13.9126C3.43191 13.3756 4.21052 13.0714 4.99994 13M5.49994 11C4.11923 11 2.99994 9.88071 2.99994 8.5C2.99994 7.11929 4.11923 6 5.49994 6"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                            <path
                                d="M8.08368 15.1112C7.0619 15.743 4.38286 17.0331 6.01458 18.6474C6.81166 19.436 7.6994 20 8.8155 20H15.1843C16.3004 20 17.1881 19.436 17.9852 18.6474C19.6169 17.0331 16.9379 15.743 15.9161 15.1112C13.52 13.6296 10.4797 13.6296 8.08368 15.1112Z"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path
                                d="M15.4999 7.5C15.4999 9.433 13.9329 11 11.9999 11C10.0669 11 8.49988 9.433 8.49988 7.5C8.49988 5.567 10.0669 4 11.9999 4C13.9329 4 15.4999 5.567 15.4999 7.5Z"
                                stroke="currentColor" stroke-width="1.5" />
                        </svg>
                        <h3 class="text-2xl font-bold">Students</h3>
                        <h4 class="text-lg text-darkColor/70">Centralized Student Attendance Records</h4>
                    </div>

                    <p>
                        Your attendance records, all in one place. Easily see your attendance history and stay on track
                        with your studies.
                    </p>
                </div>

                <div
                    class="feature__item h-full col-span-12 md:col-span-6 lg:col-span-4 flex flex-col gap-6 border border-secondaryColor py-2.5 px-4 rounded-2xl">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                            <path d="M13 15C10.7083 21 4.29167 15 2 21" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M15.5 15H17.0013C19.3583 15 20.5368 15 21.2691 14.2678C22.0013 13.5355 22.0013 12.357 22.0013 10V8C22.0013 5.64298 22.0013 4.46447 21.2691 3.73223C20.5368 3 19.3583 3 17.0013 3H13.0013C10.6443 3 9.46576 3 8.73353 3.73223C8.11312 4.35264 8.01838 5.29344 8.00391 7"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <circle cx="7.5" cy="12.5" r="2.5" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M12 7H18M18 11H15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                        <h3 class="text-2xl font-bold">Lecturers</h3>
                        <h4 class="text-lg text-darkColor/70">Helping Lecturers Help You</h4>
                    </div>

                    <p>
                        Help lecturers keep track of their attendance and course class list. It's all about making class
                        smoother for everyone.
                    </p>
                </div>

                <div
                    class="feature__item h-full col-span-12 md:col-span-6 lg:col-span-4 flex flex-col gap-6 border border-secondaryColor py-2.5 px-4 rounded-2xl">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none"
                            class="">
                            <path
                                d="M16.6127 16.0846C13.9796 17.5677 12.4773 20.6409 12 21.5V8C12.4145 7.25396 13.602 5.11646 15.6317 3.66368C16.4868 3.05167 16.9143 2.74566 17.4572 3.02468C18 3.30371 18 3.91963 18 5.15146V13.9914C18 14.6568 18 14.9895 17.8634 15.2233C17.7267 15.4571 17.3554 15.6663 16.6127 16.0846L16.6127 16.0846Z"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path
                                d="M12 7.80556C11.3131 7.08403 9.32175 5.3704 5.98056 4.76958C4.2879 4.4652 3.44157 4.31301 2.72078 4.89633C2 5.47965 2 6.42688 2 8.32133V15.1297C2 16.8619 2 17.728 2.4626 18.2687C2.9252 18.8095 3.94365 18.9926 5.98056 19.3589C7.79633 19.6854 9.21344 20.2057 10.2392 20.7285C11.2484 21.2428 11.753 21.5 12 21.5C12.247 21.5 12.7516 21.2428 13.7608 20.7285C14.7866 20.2057 16.2037 19.6854 18.0194 19.3589C20.0564 18.9926 21.0748 18.8095 21.5374 18.2687C22 17.728 22 16.8619 22 15.1297V8.32133C22 6.42688 22 5.47965 21.2792 4.89633C20.5584 4.31301 19 4.76958 18 5.5"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                        <h3 class="text-2xl font-bold">Teaching Records</h3>
                        <h4 class="text-lg text-darkColor/70">The boring task, but differently</h4>
                    </div>

                    <p>
                        Record every session and attendance with ease. A simple way to make sure every class and every
                        student is accounted for.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="separator flex gap-2 items-center justify-center max-w-screen-lg m-auto">
        <hr class="w-full border-primaryColor">
        <img src="{% static 'core/images/logo-shapes-primary.svg' %}" alt="" class="w-20">
        <hr class="w-full border-primaryColor">
    </div>

    <section id="numbers" class="max-w-screen-lg m-auto my-5 px-4 py-6">
        <div class="flex flex-col gap-4 items-center justify-center">
            <h2 class="text-2xl md:text-3xl text-center font-bold">
                Building the community
                <span class="block text-secondaryColor">`a student, lecturer... one after the other`</span>
            </h2>
            <small class="px-4 text-gray-500 outline outline-1 outline-gray-500 bg-whiteColor rounded-full">
                Let the numbers talk about themselves
            </small>
            
            <div class="-space-y-2">
                <img src="{% static 'core/images/numbers.svg' %}" alt="Attendy community" class="relative z-0 w-full md:w-10/12 m-auto select-none pointer-events-none">
                
                <div id="numbers_img" class="relative z-10 py-2.5 flex flex-wrap md:flex-nowrap items-center justify-center md:justify-evenly w-full md:h-40 rounded-3xl shadow-lg text-whiteColor">
                    {# Attendance count #}
                    <div class="w-1/2 md:w-auto flex flex-col gap-2.5 items-center md:items-start">
                        <div class="relative">
                            <h3 class="font-bold inline text-5xl md:text-6xl"> {{ course_attendance_count }}+ </h3>
                            <span class="text-outline absolute left-1 top-1 text-5xl md:text-6xl"> {{ course_attendance_count }}+ </span>
                        </div>
                        <div class="flex gap-2 items-center">
                            <div class="flex items-center h-max p-1.5 bg-white bg-opacity-10 border-[1.5px] border-whiteColor backdrop-blur-sm rounded-xl">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.5 22C8.70914 22 10.5 20.2091 10.5 18C10.5 15.7909 8.70914 14 6.5 14C4.29086 14 2.5 15.7909 2.5 18C2.5 20.2091 4.29086 22 6.5 22Z" stroke="#FFF5EA" stroke-width="3" stroke-linejoin="round"/>
                                    <path d="M17.5 10C19.7091 10 21.5 8.20914 21.5 6C21.5 3.79086 19.7091 2 17.5 2C15.2909 2 13.5 3.79086 13.5 6C13.5 8.20914 15.2909 10 17.5 10Z" stroke="#FFF5EA" stroke-width="3" stroke-linejoin="round"/>
                                    <path d="M6 10C8.20914 10 10 8.20914 10 6C10 3.79086 8.20914 2 6 2C3.79086 2 2 3.79086 2 6C2 8.20914 3.79086 10 6 10Z" fill="#FFF5EA" stroke="#FFF5EA" stroke-width="3" stroke-linejoin="round"/>
                                    <path d="M21.4999 14.5L14.5 21.5M14.5001 14.5L21.5 21.5" stroke="#FFF5EA" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>    
                            </div>
                            <div class="leading-tight -space-y-1">
                                <span class="block text-sm md:text-base">Attendances</span>
                                <span class="block text-xs md:text-sm text-whiteColor/50">monitored</span>
                            </div>
                        </div>
                    </div>

                    {# Levels count #}
                    <div class="w-1/2 md:w-auto flex flex-col gap-2.5 items-center md:items-start mt-4 md:mt-0">
                        <div class="relative">
                            <h3 class="font-bold inline text-5xl md:text-6xl"> {{ levels_count }}+ </h3>
                            <span class="text-outline absolute left-1 top-1 text-5xl md:text-6xl"> {{ levels_count }}+ </span>
                        </div>
                        <div class="flex gap-2 items-center">
                            <div class="flex items-center h-max p-1.5 bg-white bg-opacity-10 border-[1.5px] border-whiteColor backdrop-blur-sm rounded-xl">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" class="w-6 h-6">
                                    <path d="M17.5798 9.71016C17.0765 9.57314 16.5468 9.5 16 9.5C13.4668 9.5 11.3002 11.0699 10.4202 13.2898M17.5798 9.71016C20.1271 10.4036 22 12.7331 22 15.5C22 18.8137 19.3137 21.5 16 21.5C14.4633 21.5 13.0615 20.9223 12 19.9722M17.5798 9.71016C17.851 9.02618 18 8.2805 18 7.5C18 4.18629 15.3137 1.5 12 1.5C8.68629 1.5 6 4.18629 6 7.5C6 8.2805 6.14903 9.02618 6.42018 9.71016M10.4202 13.2898C10.149 13.9738 10 14.7195 10 15.5C10 17.277 10.7725 18.8736 12 19.9722M10.4202 13.2898C8.59146 12.792 7.11029 11.451 6.42018 9.71016M6.42018 9.71016C3.87294 10.4036 2 12.7331 2 15.5C2 18.8137 4.68629 21.5 8 21.5C9.53671 21.5 10.9385 20.9223 12 19.9722" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                </svg>
                            </div>
                            <div class="leading-tight -space-y-1">
                                <span class="block text-sm md:text-base">Classes</span>
                                <span class="block text-xs md:text-sm text-whiteColor/50">joined</span>
                            </div>
                        </div>
                    </div>

                    {# courses count #}
                    <div class="w-1/2 md:w-auto flex flex-col gap-2.5 items-center md:items-start">
                        <div class="relative">
                            <h3 class="font-bold inline text-5xl md:text-6xl"> {{ courses_count }}+ </h3>
                            <span class="text-outline absolute left-1 top-1 text-5xl md:text-6xl"> {{ courses_count }}+ </span>
                        </div>
                        <div class="flex gap-2 items-center">
                            <div class="flex items-center h-max p-1.5 bg-white bg-opacity-10 border-[1.5px] border-whiteColor backdrop-blur-sm rounded-xl">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" class="w-6 h-6">
                                    <path d="M14.5 5L12.5 5C9.67157 5 8.25736 5 7.37868 5.87868C6.5 6.75736 6.5 8.17157 6.5 11L6.5 16C6.5 18.8284 6.5 20.2426 7.37868 21.1213C8.25736 22 9.67157 22 12.5 22H13.8431C14.6606 22 15.0694 22 15.4369 21.8478C15.8045 21.6955 16.0935 21.4065 16.6716 20.8284L19.3284 18.1716C19.9065 17.5935 20.1955 17.3045 20.3478 16.9369C20.5 16.5694 20.5 16.1606 20.5 15.3431V11C20.5 8.17157 20.5 6.75736 19.6213 5.87868C18.7426 5 17.3284 5 14.5 5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M15 21.5L15 20.5C15 18.6144 15 17.6716 15.5858 17.0858C16.1716 16.5 17.1144 16.5 19 16.5L20 16.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M6.5 19C4.84315 19 3.5 17.6569 3.5 16L3.5 8C3.5 5.17157 3.5 3.75736 4.37868 2.87868C5.25736 2 6.67157 2 9.5 2L14.5004 2C16.1572 2.00001 17.5004 3.34319 17.5004 5.00003" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M10.0011 13L14.0011 13M10.0011 9L17.0011 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="leading-tight -space-y-1">
                                <span class="block text-sm md:text-base">Courses</span>
                                <span class="block text-xs md:text-sm text-whiteColor/50">registered</span>
                            </div>
                        </div>
                    </div>

                    {# students count #}
                    <div class="w-1/2 md:w-auto flex flex-col gap-2.5 items-center md:items-start mt-4 md:mt-0">
                        <div class="relative">
                            <h3 class="font-bold inline text-5xl md:text-6xl"> {{ students_count }}+ </h3>
                            <span class="text-outline absolute left-1 top-1 text-5xl md:text-6xl"> {{ students_count }}+ </span>
                        </div>
                        <div class="flex gap-2 items-center">
                            <div class="flex items-center h-max p-1.5 bg-white bg-opacity-10 border-[1.5px] border-whiteColor backdrop-blur-sm rounded-xl">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                                    <path
                                        d="M20.7739 18C21.5232 18 22.1192 17.5285 22.6543 16.8691C23.7498 15.5194 21.9512 14.4408 21.2652 13.9126C20.5679 13.3756 19.7893 13.0714 18.9999 13M17.9999 11C19.3806 11 20.4999 9.88071 20.4999 8.5C20.4999 7.11929 19.3806 6 17.9999 6"
                                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                    <path
                                        d="M3.2259 18C2.47659 18 1.88061 17.5285 1.34548 16.8691C0.250028 15.5194 2.04861 14.4408 2.73458 13.9126C3.43191 13.3756 4.21052 13.0714 4.99994 13M5.49994 11C4.11923 11 2.99994 9.88071 2.99994 8.5C2.99994 7.11929 4.11923 6 5.49994 6"
                                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                    <path
                                        d="M8.08368 15.1112C7.0619 15.743 4.38286 17.0331 6.01458 18.6474C6.81166 19.436 7.6994 20 8.8155 20H15.1843C16.3004 20 17.1881 19.436 17.9852 18.6474C19.6169 17.0331 16.9379 15.743 15.9161 15.1112C13.52 13.6296 10.4797 13.6296 8.08368 15.1112Z"
                                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M15.4999 7.5C15.4999 9.433 13.9329 11 11.9999 11C10.0669 11 8.49988 9.433 8.49988 7.5C8.49988 5.567 10.0669 4 11.9999 4C13.9329 4 15.4999 5.567 15.4999 7.5Z"
                                        stroke="currentColor" stroke-width="1.5" />
                                </svg>
                            </div>
                            <div class="leading-tight -space-y-1">
                                <span class="block text-sm md:text-base">Students</span>
                                <span class="block text-xs md:text-sm text-whiteColor/50">managed</span>
                            </div>
                        </div>
                    </div>

                    {# lecturers count #}
                    <div class="w-1/2 md:w-auto flex flex-col gap-2.5 items-center md:items-start mt-4 md:mt-0">
                        <div class="relative">
                            <h3 class="font-bold inline text-5xl md:text-6xl"> {{ lecturers_count}}+ </h3>
                            <span class="text-outline absolute left-1 top-1 text-5xl md:text-6xl"> {{ lecturers_count}}+ </span>
                        </div>
                        <div class="flex gap-2 items-center">
                            <div class="flex items-center h-max p-1.5 bg-white bg-opacity-10 border-[1.5px] border-whiteColor backdrop-blur-sm rounded-xl">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                                    <path d="M13 15C10.7083 21 4.29167 15 2 21" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M15.5 15H17.0013C19.3583 15 20.5368 15 21.2691 14.2678C22.0013 13.5355 22.0013 12.357 22.0013 10V8C22.0013 5.64298 22.0013 4.46447 21.2691 3.73223C20.5368 3 19.3583 3 17.0013 3H13.0013C10.6443 3 9.46576 3 8.73353 3.73223C8.11312 4.35264 8.01838 5.29344 8.00391 7"
                                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <circle cx="7.5" cy="12.5" r="2.5" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M12 7H18M18 11H15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="leading-tight -space-y-1">
                                <span class="block text-sm md:text-base">Lecturers</span>
                                <span class="block text-xs md:text-sm text-whiteColor/50">already</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="separator flex gap-2 items-center justify-center max-w-screen-lg m-auto">
        <hr class="w-full border-primaryColor">
        <img src="{% static 'core/images/logo-shapes-primary.svg' %}" alt="" class="w-20">
        <hr class="w-full border-primaryColor">
    </div>

    <section id="scan" class="max-w-screen-lg m-auto my-5 px-4 py-6">
        <div class="flex flex-col-reverse md:flex-row justify-center md:justify-between gap-2 md:gap-4">
            <img src="{% static 'core/images/scan.png' %}" alt="" class="w-full md:w-1/2">

            <div class="flex flex-col items-center md:items-start text-center md:text-left gap-4 space-y-2 w-full">

                <div class="h-3"></div>
                <small class="text-sm py-0.5 px-2.5 border border-1 border-darkColor rounded-full">
                    a stress relief
                </small>

                <h2 class="text-3xl font-bold">
                    As a delegate, do more <br>
                    <span class="text-secondaryColor">By just doing less!</span>
                </h2>

                <p>
                    With Attendy, you can easily scan your students' QR codes to mark their attendance.
                    It's a simple and efficient way to keep track of who's in class and who's not.
                </p>

                <div class="flex gap-2">
                    <div class="border border-dashed border-darkColor/50 text-gray-500 p-2 rounded-xl">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                            <path d="M8 7L16 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M8 11L12 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path
                                d="M13 21.5V21C13 18.1716 13 16.7574 13.8787 15.8787C14.7574 15 16.1716 15 19 15H19.5M20 13.3431V10C20 6.22876 20 4.34315 18.8284 3.17157C17.6569 2 15.7712 2 12 2C8.22877 2 6.34315 2 5.17157 3.17157C4 4.34314 4 6.22876 4 10L4 14.5442C4 17.7892 4 19.4117 4.88607 20.5107C5.06508 20.7327 5.26731 20.9349 5.48933 21.1139C6.58831 22 8.21082 22 11.4558 22C12.1614 22 12.5141 22 12.8372 21.886C12.9044 21.8623 12.9702 21.835 13.0345 21.8043C13.3436 21.6564 13.593 21.407 14.0919 20.9081L18.8284 16.1716C19.4065 15.5935 19.6955 15.3045 19.8478 14.9369C20 14.5694 20 14.1606 20 13.3431Z"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>

                    <div class="border border-dashed border-darkColor/50 text-gray-500 p-2 rounded-xl">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                            <path
                                d="M13 7C13 9.20914 11.2091 11 9 11C6.79086 11 5 9.20914 5 7C5 4.79086 6.79086 3 9 3C11.2091 3 13 4.79086 13 7Z"
                                stroke="currentColor" stroke-width="1.5" />
                            <path d="M15 11C17.2091 11 19 9.20914 19 7C19 4.79086 17.2091 3 15 3" stroke="currentColor"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M11 14H7C4.23858 14 2 16.2386 2 19C2 20.1046 2.89543 21 4 21H14C15.1046 21 16 20.1046 16 19C16 16.2386 13.7614 14 11 14Z"
                                stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
                            <path d="M17 14C19.7614 14 22 16.2386 22 19C22 20.1046 21.1046 21 20 21H18.5"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>

                    <div class="border border-dashed border-darkColor/50 text-gray-500 p-2 rounded-xl">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                            <path d="M12 22L10 16H2L4 22H12ZM12 22H16" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M12 13V12.5C12 10.6144 12 9.67157 11.4142 9.08579C10.8284 8.5 9.88562 8.5 8 8.5C6.11438 8.5 5.17157 8.5 4.58579 9.08579C4 9.67157 4 10.6144 4 12.5V13"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path
                                d="M19 13C19 14.1046 18.1046 15 17 15C15.8954 15 15 14.1046 15 13C15 11.8954 15.8954 11 17 11C18.1046 11 19 11.8954 19 13Z"
                                stroke="currentColor" stroke-width="1.5" />
                            <path
                                d="M10 4C10 5.10457 9.10457 6 8 6C6.89543 6 6 5.10457 6 4C6 2.89543 6.89543 2 8 2C9.10457 2 10 2.89543 10 4Z"
                                stroke="currentColor" stroke-width="1.5" />
                            <path d="M14 17.5H20C21.1046 17.5 22 18.3954 22 19.5V20C22 21.1046 21.1046 22 20 22H19"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                        </svg>
                    </div>

                    <div class="border border-dashed border-darkColor/50 text-gray-500 p-2 rounded-xl">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                            <path
                                d="M16.5956 20.6989L14.1508 21.3462C11.8879 21.9453 10.7564 22.2448 9.86986 21.7542C8.98333 21.2636 8.68795 20.1744 8.09718 17.996L6.63512 12.6048C6.04436 10.4264 5.74898 9.33725 6.26846 8.4744C6.78794 7.61155 7.91941 7.312 10.1824 6.7129L14.1827 5.65384C16.4457 5.05474 17.5771 4.75519 18.4637 5.2458C19.3502 5.73642 19.6456 6.82561 20.2363 9.00398L21.7042 14.4166C21.9554 15.343 22.0811 15.8062 21.943 16.2417M16.5956 20.6989C17.3477 20.4998 17.3537 20.4966 17.9386 19.9948L20.6824 17.6404C21.4308 16.9983 21.805 16.6772 21.943 16.2417M16.5956 20.6989C16.5956 20.6989 17.1837 16.1058 18.5 15.5C19.9932 14.8128 21.943 16.2417 21.943 16.2417"
                                stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
                            <path
                                d="M17 5.00118C16.9356 3.92779 16.7573 3.2521 16.2484 2.76762C15.4689 2.02553 14.218 2.02184 11.716 2.01444L7.29321 2.00137C4.79129 1.99398 3.54033 1.99028 2.76535 2.72777C1.99037 3.46526 1.99402 4.65592 2.00132 7.03725L2.01938 12.9307C2.02668 15.3121 2.03033 16.5027 2.80984 17.2448C3.58935 17.9869 4.84031 17.9906 7.34224 17.998L8.02306 18"
                                stroke="currentColor" stroke-width="1.5" />
                        </svg>
                    </div>

                    <div class="border border-dashed border-darkColor/50 text-gray-500 p-2 rounded-xl">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                            <circle cx="5" cy="7" r="3" stroke="currentColor" stroke-width="1.5" />
                            <circle cx="8" cy="18" r="4" stroke="currentColor" stroke-width="1.5" />
                            <circle cx="17" cy="7" r="5" stroke="currentColor" stroke-width="1.5" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="process" class="max-w-screen-lg rounded-3xl m-auto my-5 px-4 py-6">
        <div class="flex flex-col items-center gap-8">
            <div class="flex flex-col gap-2 text-center">
                <small class="w-max m-auto px-4 text-gray-500 outline outline-1 outline-gray-500 bg-whiteColor rounded-full">
                    Step 1
                </small>
                <h2 class="text-3xl text-center font-bold">
                    Get your <span class="text-secondaryColor">courses</span>,
                    <span class="text-secondaryColor">students</span> and
                    <span class="text-secondaryColor">lecturers</span> on board.
                </h2>

                <p class="max-w-2xl m-auto">
                    To get started, it is crucial you have records of courses, students and lecturers
                    of the current semester. This will help you keep track of attendance and monitor
                    the progress of your students. So, go on and register these entities from the dashboard.
                </p>
            </div>

            <div class="grid grid-cols-12 items-center justify-center w-full">
                <img src="{% static 'core/images/process-courses.svg' %}" alt="Register your courses"
                    class="col-span-4 h-full bg-white object-cover relative z-0 scale-90 -bottom-5 -right-3 -rotate-6 shadow-lg rounded-xl ring-2 ring-offset-2 ring-primaryColor">
                <img src="{% static 'core/images/process-students.svg' %}" alt="Add students"
                    class="col-span-4 h-full bg-white object-cover relative z-20 shadow-lg rounded-xl ring-2 ring-offset-2 ring-secondaryColor">
                <img src="{% static 'core/images/process-lecturers.svg' %}" alt="Add lecturers"
                    class="col-span-4 h-full bg-white object-cover relative z-10 scale-90 -bottom-5 -left-3 rotate-6 shadow-lg rounded-xl ring-2 ring-offset-2 ring-primaryColor">
            </div>
        </div>

        <div class="h-20 w-0.5 rounded-full bg-secondaryColor m-auto"></div>

        <div class="flex flex-col items-center gap-8 mt-2">
            <div class="flex flex-col gap-2 text-center">
                <small class="w-max m-auto px-4 text-gray-500 outline outline-1 outline-gray-500 bg-whiteColor rounded-full">
                    Step 2
                </small>
                <h2 class="text-3xl text-center font-bold">
                    From now on, create <span class="text-secondaryColor">attendances</span>
                    and <span class="text-secondaryColor">monitor</span> your students.
                </h2>

                <p class="max-w-2xl m-auto">
                    You can start creating attendances for your courses. Students will only have to scan to mark their presence.
                    In addition, teaching records are automatically created and attached to course attendances.
                    Just left for you to fill in the remaining details like the lecturer's departure time...
                </p>
            </div>

            <div class="grid grid-cols-12 items-center justify-center w-full">
                <img src="{% static 'core/images/process-attendance.svg' %}" alt="Manage attendances"
                    class="col-span-6 h-full bg-white object-cover relative z-0 scale-90 -top-5 -right-2 md:-right-5 rotate-3 shadow-lg rounded-xl ring-2 ring-offset-2 ring-secondaryColor">
                <img src="{% static 'core/images/process-monitor.svg' %}" alt="Interactive dashboard"
                    class="col-span-6 h-full bg-white object-cover relative z-10 scale-90 -top-5 -left-2 md:-left-5 -rotate-3 shadow-lg rounded-xl ring-2 ring-offset-2 ring-primaryColor">
            </div>
        </div>
    </section>

    <div class="separator flex gap-2 items-center justify-center max-w-screen-lg m-auto">
        <hr class="w-full border-primaryColor">
        <img src="{% static 'core/images/logo-shapes-primary.svg' %}" alt="" class="w-20">
        <hr class="w-full border-primaryColor">
    </div>

    <section id="cta" class="max-w-screen-lg rounded-3xl m-auto my-5 px-4 py-6">
        <div class="flex flex-col items-center gap-8">
            <div class="flex flex-col gap-2 text-center">
                <h2 class="text-3xl text-center font-bold">
                    There's <span class="text-secondaryColor">more</span> you can get out of Attendy.
                </h2>

                <p class="max-w-lg m-auto">
                    Attendy is designed to make your life easier. It's a simple and efficient way to keep track of your
                    attendance and make sure you're on top of your studies.
                </p>

                <a href="{% url 'core:levels' %}"
                    class="flex gap-2 hover:gap-8 items-center text-whiteColor w-max m-auto px-6 py-2 rounded-xl hover:rounded-3xl bg-primaryColor hover:shadow-xl transition-all duration-300 ease-linear">
                    let's get started
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                        <path d="M20.0001 11.9998L4.00012 11.9998" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M15.0003 17C15.0003 17 20.0002 13.3176 20.0002 12C20.0002 10.6824 15.0002 7 15.0002 7"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
            </div>

            <div class="grid grid-cols-12 items-center justify-center -space-x-3 w-full">
                <img src="{% static 'core/images/cta2.jpg' %}" alt=""
                    class="col-span-4 h-full object-cover -rotate-6 mt-10 shadow-lg rounded-xl ring-2 ring-offset-2 ring-primaryColor">
                <img src="{% static 'core/images/cta1.jpg' %}" alt=""
                    class="col-span-4 h-full object-cover rotate-3 shadow-lg rounded-xl ring-2 ring-offset-2 ring-secondaryColor">
                <img src="{% static 'core/images/cta3.jpg' %}" alt=""
                    class="col-span-4 h-full object-cover -rotate-3 mt-1 shadow-lg rounded-xl ring-2 ring-offset-2 ring-primaryColor">
            </div>
        </div>
    </section>
</main>
{% endblock body %}

{# Footer of the page #}
{% block footer %}
{% include "components/footer.html" %}
{% endblock footer %}

{# Additional javascript #}
{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const texts = ["I want to write my name", "Where is the list?", "I need the class list for my course", "Where's attendance for last class?"];
        let index = 0;
        let charIndex = 0;
        const typewriterElement = document.getElementById('typewriter');
        const typingSpeed = 100; // Adjust typing speed here
        const delayBetweenTexts = 2500; // Delay between texts

        function type() {
            if (charIndex < texts[index].length) {
                typewriterElement.textContent += texts[index].charAt(charIndex);
                charIndex++;
                setTimeout(type, typingSpeed);
            } else {
                setTimeout(erase, delayBetweenTexts);
            }
        }

        function erase() {
            if (charIndex > 0) {
                typewriterElement.textContent = texts[index].substring(0, charIndex - 1);
                charIndex--;
                setTimeout(erase, typingSpeed);
            } else {
                index = (index + 1) % texts.length;
                setTimeout(type, typingSpeed);
            }
        }

        type();
    });
</script>
{% endblock javascript %}