/* Import Patrick Font */
@font-face {
    font-family: "Patrick Hand";
    src: url('../fonts/PatrickHand-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html, body {
    font-family: "Patrick Hand", system-ui;
}


#typewriter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.08em solid #FFF5EA;
    /* Cursor effect */
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #FFF5EA;
    }
}