{% extends 'core/base_app.html' %}
{% load static %}
{% load tailwind_tags %}
{% load custom_date_formatter %}

{# Title of the page #}
{% block title %} {{ course.title }} {% endblock %}

{% block extra_styles %}
{% endblock extra_styles %}

{# Body styles #}
{% block body_styles %}
{% endblock body_styles %}

{# Header of the page #}
{% block header %}
{% include "components/header_app.html" %}
{% endblock header %}

{# Body of the page #}
{% block body %}
<div class="relative p-4 md:ml-64">
    <div class="flex flex-col gap-4 items-start justify-center w-full mt-14">
        <div class="flex items-center justify-between w-full">
            <div class="space-y-1">
                <h2 class="text-3xl text-primaryColor">
                    {{ course }}
                </h2>
                <small class="text-gray-500">
                    Registered on:
                    <span class="text-darkColor"> {{ course.created_at|format_date }} </span>
                </small>
            </div>

            <div class="flex items-center gap-2">
                <a href="{% url 'core:course_update' level_pk=level.id pk=course.id slug=course.slug %}" class="select-none p-2 hover:bg-primaryColor/5 border border-primaryColor text-primaryColor rounded-2xl transition-colors duration-200 ease-linear" title="Edit course info">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                        <path d="M13 20.8268V22H14.1734C14.5827 22 14.7874 22 14.9715 21.9238C15.1555 21.8475 15.3003 21.7028 15.5897 21.4134L20.4133 16.5894C20.6864 16.3164 20.8229 16.1799 20.8959 16.0327C21.0347 15.7525 21.0347 15.4236 20.8959 15.1434C20.8229 14.9961 20.6864 14.8596 20.4133 14.5866C20.1403 14.3136 20.0038 14.1771 19.8565 14.1041C19.5763 13.9653 19.2473 13.9653 18.9671 14.1041C18.8198 14.1771 18.6833 14.3136 18.4103 14.5866L18.4103 14.5866L13.5867 19.4106C13.2972 19.7 13.1525 19.8447 13.0762 20.0287C13 20.2128 13 20.4174 13 20.8268Z" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
                        <path d="M19 11C19 11 19 9.4306 18.8478 9.06306C18.6955 8.69552 18.4065 8.40649 17.8284 7.82843L13.0919 3.09188C12.593 2.593 12.3436 2.34355 12.0345 2.19575C11.9702 2.165 11.9044 2.13772 11.8372 2.11401C11.5141 2 11.1614 2 10.4558 2C7.21082 2 5.58831 2 4.48933 2.88607C4.26731 3.06508 4.06508 3.26731 3.88607 3.48933C3 4.58831 3 6.21082 3 9.45584V14C3 17.7712 3 19.6569 4.17157 20.8284C5.23467 21.8915 6.8857 21.99 10 21.9991M12 2.5V3C12 5.82843 12 7.24264 12.8787 8.12132C13.7574 9 15.1716 9 18 9H18.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>

                <a type="button" data-ripple-light="true" data-dialog-target="animated-dialog-delegate-{{ course.id }}"
                class="select-none cursor-pointer text-danger p-2 hover:bg-danger/10 border border-danger rounded-2xl transition-colors duration-200 ease-linear" title="Delete course">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                        <path d="M19.5 5.5L18.8803 15.5251C18.7219 18.0864 18.6428 19.3671 18.0008 20.2879C17.6833 20.7431 17.2747 21.1273 16.8007 21.416C15.8421 22 14.559 22 11.9927 22C9.42312 22 8.1383 22 7.17905 21.4149C6.7048 21.1257 6.296 20.7408 5.97868 20.2848C5.33688 19.3626 5.25945 18.0801 5.10461 15.5152L4.5 5.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M9 11.7349H15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M10.5 15.6543H13.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M3 5.5H21M16.0555 5.5L15.3729 4.09173C14.9194 3.15626 14.6926 2.68852 14.3015 2.39681C14.2148 2.3321 14.1229 2.27454 14.0268 2.2247C13.5937 2 13.0739 2 12.0343 2C10.9686 2 10.4358 2 9.99549 2.23412C9.89791 2.28601 9.80479 2.3459 9.7171 2.41317C9.32145 2.7167 9.10044 3.20155 8.65842 4.17126L8.05273 5.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                </a>
                
                <div data-dialog-backdrop="animated-dialog-delegate-{{ course.id }}" data-dialog-backdrop-close="true"
                    class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300">
                    <div data-dialog="animated-dialog-delegate-{{ course.id }}"
                        data-dialog-mount="opacity-100 translate-y-0 scale-100"
                        data-dialog-unmount="opacity-0 -translate-y-28 scale-90 pointer-events-none"
                        data-dialog-transition="transition-all duration-300"
                        class="relative m-4 w-2/5 min-w-[40%] max-w-[40%] rounded-2xl bg-whiteColor antialiased shadow-2xl">
                        <div class="flex flex-col items-center p-5 text-2xl antialiased shrink-0">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                                <path d="M13 22H6.59087C5.04549 22 3.81631 21.248 2.71266 20.1966C0.453365 18.0441 4.1628 16.324 5.57757 15.4816C7.97679 14.053 10.8425 13.6575 13.5 14.2952" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M16.5 6.5C16.5 8.98528 14.4853 11 12 11C9.51472 11 7.5 8.98528 7.5 6.5C7.5 4.01472 9.51472 2 12 2C14.4853 2 16.5 4.01472 16.5 6.5Z" stroke="currentColor" stroke-width="1.5" />
                                <path d="M16 22L19 19M19 19L22 16M19 19L16 16M19 19L22 22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                            </svg>
                            <span class="text-xl">You're about to delete</span>
                            <span class="text-danger">{{ course.title }}</span>
                        </div>
                        <div class="relative py-2 px-5 text-base antialiased leading-relaxed">
                            By deleting this course, you will lose all the data associated with it.
                            After deletion, this action cannot be undone.
                            Are you sure you want to delete this course from the entire system?
                        </div>
                        <div class="flex flex-wrap items-center justify-end p-4 shrink-0 text-blue-gray-500">
                            <button data-ripple-dark="true" data-dialog-close="true"
                                class="px-6 py-3 mr-1 font-sans text-sm font-bold uppercase transition-all rounded-xl middle none center hover:bg-info/10">
                                Cancel
                            </button>
                            <form action="{% url 'core:courses' level_pk=level.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="course_id" value="{{ course.id }}">
                                <button name="delete_delegate" data-ripple-light="true" data-dialog-close="true"
                                    class="middle none center rounded-xl bg-danger py-3 px-6 text-sm font-bold uppercase text-whiteColor shadow-md shadow-red-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40">
                                    Delete course
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full grid grid-cols-12 gap-2 text-base">
            <div class="col-span-9 flex flex-col gap-2">
                <div class="relative right-0">
                    <ul class="relative flex flex-wrap p-1 list-none rounded-xl bg-blue-gray-50/60" data-tabs="tabs"
                        role="list">
                        <li class="z-30 w-auto px-2 rounded-xl text-center">
                            <a class="z-30 text-xl flex items-center justify-center w-full px-0 py-1 mb-0 transition-all ease-in-out border-0 rounded-lg cursor-pointer bg-inherit"
                                data-tab-target="" active="" role="tab" aria-selected="true" aria-controls="app">
                                <span class="ml-1 flex items-center gap-2">
                                    Course overview
                                </span>
                            </a>
                        </li>
                        <li class="z-30 w-auto px-2 rounded-xl text-center">
                            <a class="z-30 text-xl flex items-center justify-center w-full px-0 py-1 mb-0 transition-all ease-in-out border-0 rounded-lg cursor-pointer bg-inherit"
                                data-tab-target="" role="tab" aria-selected="false" aria-controls="message">
                                <span class="ml-1 flex items-center gap-2">
                                    Course class list
                                </span>
                            </a>
                        </li>
                    </ul>
    
                    <div data-tab-content="" class="p-2">
                        <div class="block opacity-100" id="app" role="tabpanel">
                            <ul class="space-y-4">
                                <li class="">
                                    <div class="flex items-center justify-between">
                                        <p class="text-gray-500">Code:</p>
                                        <p class="text-darkColor"> {{ course.code }} </p>
                                    </div>
                                </li>
                                <hr class="border-darkColor/10">
                                <li class="">
                                    <div class="flex items-center justify-between">
                                        <p class="text-gray-500">Title:</p>
                                        <p class="text-darkColor"> {{ course.title }} </p>
                                    </div>
                                </li>
                                <hr class="border-darkColor/10">
                                <li class="">
                                    <div class="flex items-center justify-between">
                                        <p class="text-gray-500">Lecturer:</p>
                                        <p class="text-darkColor"> {{ course.lecturer.name }} </p>
                                    </div>
                                </li>
                                <hr class="border-darkColor/10">
                                <li class="">
                                    <div class="flex items-center justify-between">
                                        <p class="text-gray-500">Semester:</p>
                                        <p class="text-darkColor"> {{ level.semester }} {{ level.year}} </p>
                                    </div>
                                </li>
                                <hr class="border-darkColor/10">
                                <li class="">
                                    <div class="flex items-center justify-between">
                                        <p class="text-gray-500"># students who registered:</p>
                                        <p class="text-darkColor"> {{ registered_students.count }} </p>
                                    </div>
                                </li>
                            </ul>

                            <div class="grid grid-cols-12 items-center gap-2 mt-4">
                                <div class="col-span-full">
                                    <h2 class="text-2xl text-primaryColor">Visual Data</h2>
                                </div>

                                <div class="col-span-4">
                                    <canvas id="genderChart"></canvas>
                                </div>
                            </div>
                        </div>
    
                        <div class="hidden opacity-0" id="message" role="tabpanel">
                            <div class="relative overflow-x-auto">
                                <table class="w-full text-sm text-left">
                                    <thead class="text-primaryColor uppercase">
                                        <tr class="border-b border-darkColor/10">
                                            <th scope="col" class="p-4">
                                                S/N
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Names
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Email
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Dep't
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Phone No
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Gender
                                            </th>
                                            <th scope="col" class="px-6 py-3 bg-whiteHover">
                                                Actions
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for student in registered_students %}
                                        <tr class="border-b border-darkColor/10 hover:bg-secondaryColor/5">
                                            <td class="w-4 p-4">
                                                {{ forloop.counter }}
                                            </td>
                                            <th scope="row" class="flex items-center gap-1 px-6 py-4 font-medium whitespace-nowrap">
                                                {{ student.name }}
                                                {% if student.is_delegate %}
                                                  <div class="w-1.5 h-1.5 rounded-full bg-secondaryColor"></div>
                                                {% endif %}
                                            </th>
                                            <td class="px-6 py-4">
                                                {{ student.email }}
                                            </td>
                                            <td class="px-6 py-4">
                                                {{ student.class_level.department}}
                                            </td>
                                            <td class="px-6 py-4">
                                                {{ student.phone }}
                                            </td>
                                            <td class="px-6 py-4">
                                                {{ student.gender }}
                                            </td>
                                            <td class="px-6 py-4 bg-whiteHover">
                                                <div class="flex gap-2">
                                                    <a href="{% url 'core:student_detail' level_pk=level.id pk=student.id slug=student.slug %}" class="font-medium text-primaryColor hover:underline">
                                                        View
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" flex flex-col gap-2 col-start-10 col-span-3">
                <h3 class="text-xl text-primaryColor">Course delegates and assistants</h3>
                
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col items-start bg-whiteHover rounded-xl px-4 py-1.5 space-y-2">
                        {% for delegate in delegates %}
                            {% if delegate.role == 'delegate' %}
                                <p class="text-darkColor block">
                                    <span class="text-xs text-secondaryColor me-1">Del.</span>
                                    {{ delegate.student.name }}
                                </p>
                                {% else %}
                                <p class="text-darkColor block">
                                    <span class="text-xs text-secondaryColor me-1">Ast.</span>
                                    {{ delegate.student.name }}
                                </p>
                            {% endif %}
                            
                            {% empty %}
                            <p class="text-danger text-sm block"> No course delegate(s) </p>
                        {% endfor %}
                    </div>

                    <p class="text-sm text-gray-500">
                        For any issue related to the management of course delegates like adding new delegates or removing existing ones, please
                        contact the system administrator.
                    </p>

                    <div class="mt-2 px-1">
                        <hr class="w-full border-gray-400">
                        
                        <small class="text-gray-400 leading-tight">
                            You are viewing this student's entry as it was last updated on:
                            <span class="text-secondaryColor"> {{ course.updated_at|format_date }} </span>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{# Additional javascript #}
{% block javascript %}
<!-- from cdn -->
<script src="{% static 'core/js/tabs.js' %}"></script>
<script src="{% static 'core/js/dialog.js' %}"></script>

<!-- Gender Distribution Pie Chart -->
<script>
    var genderData = JSON.parse('{{ gender_distribution|escapejs }}');
    var ctx = document.getElementById('genderChart').getContext('2d');
    var genderChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Male', 'Female'],
            datasets: [{
                data: [genderData.male, genderData.female],
                backgroundColor: ['#36A2EB', '#FF6384']
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Gender Distribution of registered students'
                }
            }
        }
    });
</script>
{% endblock javascript %}