{% extends 'core/base_app.html' %}
{% load static %}
{% load tailwind_tags %}
{% load custom_date_formatter duration_formatter %}

{# Title of the page #}
{% block title %} Update for {{ course }} {% endblock %}

{% block extra_styles %}
    <style>
        #lect_img {
            background: linear-gradient(170deg, rgba(0, 0, 0, 0.9) 25%, rgba(0, 0, 0, 0.1) 75%), url("{% static 'core/images/courses.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
{% endblock extra_styles %}

{# Header of the page #}
{% block header %}
    {% include "components/header_app.html" %}
{% endblock header %}

{# Body of the page #}
{% block body %}
    <div class="relative p-4 md:ml-64">
        <div class="flex flex-col gap-4 items-start justify-center w-full mt-14">
            <div class="grid grid-cols-12 items-center justify-center gap-2">
                <div class="col-start-2 col-span-4 flex flex-col gap-4">
                    <div class="flex flex-col gap-2">
                        <h2 class="text-2xl">
                            You're updating
                            <span class="block text-primaryColor">{{ course }}</span>
                        </h2>
                        <small class="w-max px-2.5 rounded-xl bg-darkColor/5">
                            <span class="text-gray-500">Last update:</span>
                            {{ course.updated_at|format_date }}
                        </small>
                        <p class="text-sm">
                            Keep track of your course activity by adding them to the platform on a weekly basis as they
                            are being taught in class.
                        </p>
                    </div>

                    <form action="" method="post" class="max-w-sm w-full">
                        {% csrf_token %}

                        <!-- Display non fields errors -->
                        {% if form.non_field_errors %}
                            <small class="text-sm text-danger bg-danger/10 rounded-xl px-2 py-1">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </small>
                        {% endif %}

                        <div class="flex flex-col gap-2">
                            {# Code field #}
                            <div class="">
                                <label for="{{ form.code.label }}"
                                       class="ps-4 text-xs text-gray-500"> {{ form.code.label }} </label>
                                <div class="relative">
                                    <div class="absolute inset-y-0 start-0 flex items-center ps-2.5 pointer-events-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                             height="24" fill="none">
                                            <path d="M2 6C2 5.05719 2 4.58579 2.29289 4.29289C2.58579 4 3.05719 4 4 4C4.94281 4 5.41421 4 5.70711 4.29289C6 4.58579 6 5.05719 6 6V8C6 8.94281 6 9.41421 5.70711 9.70711C5.41421 10 4.94281 10 4 10C3.05719 10 2.58579 10 2.29289 9.70711C2 9.41421 2 8.94281 2 8V6Z"
                                                  stroke="currentColor" stroke-width="1.5"/>
                                            <path d="M6.5 16C6.5 15.0572 6.5 14.5858 6.79289 14.2929C7.08579 14 7.55719 14 8.5 14C9.44281 14 9.91421 14 10.2071 14.2929C10.5 14.5858 10.5 15.0572 10.5 16V18C10.5 18.9428 10.5 19.4142 10.2071 19.7071C9.91421 20 9.44281 20 8.5 20C7.55719 20 7.08579 20 6.79289 19.7071C6.5 19.4142 6.5 18.9428 6.5 18V16Z"
                                                  stroke="currentColor" stroke-width="1.5"/>
                                            <path d="M13.5 6C13.5 5.05719 13.5 4.58579 13.7929 4.29289C14.0858 4 14.5572 4 15.5 4C16.4428 4 16.9142 4 17.2071 4.29289C17.5 4.58579 17.5 5.05719 17.5 6V8C17.5 8.94281 17.5 9.41421 17.2071 9.70711C16.9142 10 16.4428 10 15.5 10C14.5572 10 14.0858 10 13.7929 9.70711C13.5 9.41421 13.5 8.94281 13.5 8V6Z"
                                                  stroke="currentColor" stroke-width="1.5"/>
                                            <path d="M13.5 16C13.5 15.0572 13.5 14.5858 13.7929 14.2929C14.0858 14 14.5572 14 15.5 14C16.4428 14 16.9142 14 17.2071 14.2929C17.5 14.5858 17.5 15.0572 17.5 16V18C17.5 18.9428 17.5 19.4142 17.2071 19.7071C16.9142 20 16.4428 20 15.5 20C14.5572 20 14.0858 20 13.7929 19.7071C13.5 19.4142 13.5 18.9428 13.5 18V16Z"
                                                  stroke="currentColor" stroke-width="1.5"/>
                                            <path d="M9 5L10.5 4V10" stroke="currentColor" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M2 15L3.5 14V20" stroke="currentColor" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M20.5 5L22 4V10" stroke="currentColor" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M20.5 15L22 14V20" stroke="currentColor" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </div>
                                    {{ form.code }}
                                </div>

                                {% if form.code.errors %}
                                    <small class="text-sm text-danger">
                                        {% for error in form.code.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </small>
                                {% endif %}
                            </div>

                            {# Title field #}
                            <div class="">
                                <label for="{{ form.title.label }}"
                                       class="ps-4 text-xs text-gray-500"> {{ form.title.label }} </label>
                                <div class="relative">
                                    <div class="absolute inset-y-0 start-0 flex items-center ps-2.5 pointer-events-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                             height="24" fill="none">
                                            <path d="M6 4V20" stroke="currentColor" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M18 4V20" stroke="currentColor" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M6 12H18" stroke="currentColor" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </div>
                                    {{ form.title }}
                                </div>

                                {% if form.title.errors %}
                                    <small class="text-sm text-danger">
                                        {% for error in form.title.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </small>
                                {% endif %}
                            </div>

                            {# Lecturer field #}
                            <div class="">
                                <label for="{{ form.lecturer.label }}"
                                       class="ps-4 text-xs text-gray-500"> {{ form.lecturer.label }} </label>
                                <div class="relative">
                                    <div class="absolute inset-y-0 start-0 flex items-center ps-2.5 pointer-events-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                             height="24" fill="none">
                                            <path d="M13 15C10.7083 21 4.29167 15 2 21" stroke="currentColor"
                                                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M15.5 15H17.0013C19.3583 15 20.5368 15 21.2691 14.2678C22.0013 13.5355 22.0013 12.357 22.0013 10V8C22.0013 5.64298 22.0013 4.46447 21.2691 3.73223C20.5368 3 19.3583 3 17.0013 3H13.0013C10.6443 3 9.46576 3 8.73353 3.73223C8.11312 4.35264 8.01838 5.29344 8.00391 7"
                                                  stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                  stroke-linejoin="round"/>
                                            <circle cx="7.5" cy="12.5" r="2.5" stroke="currentColor" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M12 7H18M18 11H15" stroke="currentColor" stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </div>
                                    {{ form.lecturer }}
                                </div>

                                {% if form.lecturer.errors %}
                                    <small class="text-sm text-danger">
                                        {% for error in form.lecturer.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </small>
                                {% endif %}
                            </div>

                            {# Submit button #}
                            <div class="text-whiteColor">
                                <button type="submit"
                                        class="block mb-2 focus:outline-none rounded-2xl w-full px-5 py-2 text-center bg-primaryColor hover:bg-blue-950 focus:ring-2 focus:ring-secondaryColor focus:ring-offset-1 transition-all duration-300 ease-in-out">
                                    Update course
                                </button>
                                <small class="text-gray-500 text-xs">
                                    This course accounts for {{ level.semester }} {{ level.year }}
                                </small>
                            </div>
                        </div>
                    </form>
                </div>

                <div id="lect_img" class="relative col-start-8 col-span-4 h-screen">
                    <blockquote
                            class="flex flex-col gap-2 text-[16px] leading-tight text-whiteColor p-4 text-left max-w-64">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none"
                             class="text-secondaryColor">
                            <path d="M5.07579 17C4.08939 4.54502 12.9123 1.0121 19.9734 2.22417C20.2585 6.35185 18.2389 7.89748 14.3926 8.61125C15.1353 9.38731 16.4477 10.3639 16.3061 11.5847C16.2054 12.4534 15.6154 12.8797 14.4355 13.7322C11.8497 15.6004 8.85421 16.7785 5.07579 17Z"
                                  stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                            <path d="M4 22C4 15.5 7.84848 12.1818 10.5 10" stroke="currentColor" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Lectures are like Netflix series—except you can't skip to the good parts, and the plot twists
                        are just more homework.
                        <cite class="block font-semibold mt-2 text-secondaryColor">ChatGPT</cite>
                    </blockquote>
                    <img src="{% static 'core/images/logo-shapes.svg' %}" alt="Attendy shapes"
                         class="w-20 absolute bottom-3 right-3">
                </div>
            </div>
        </div>
    </div>


{% endblock body %}

{# Additional javascript #}
{% block javascript %}
{% endblock javascript %}