{% extends 'core/base_app.html' %}
{% load static %}
{% load tailwind_tags %}
{% load custom_date_formatter duration_formatter %}

{# Title of the page #}
{% block title %} Add a course {% endblock %}

{% block extra_styles %}
{% endblock extra_styles %}

{# Body styles #}
{% block body_styles %}
{% endblock body_styles %}

{# Header of the page #}
{% block header %}
{% include "components/header_app.html" %}
{% endblock header %}

{# Body of the page #}
{% block body %}
<div class="relative p-4 md:ml-64">
    <div class="flex flex-col gap-4 items-start justify-center w-full mt-14">
        Let's add something here ...
    </div>
</div>
{% endblock body %}

{# Additional javascript #}
{% block javascript %}
<!-- from cdn -->
<script src="{% static 'core/js/tabs.js' %}"></script>
{% endblock javascript %}