{% extends 'core/base_app.html' %}
{% load static %}
{% load tailwind_tags %}
{% load custom_date_formatter duration_formatter %}

{# Title of the page #}
{% block title %} {{ course.title }} {% endblock %}

{% block extra_styles %}
{% endblock extra_styles %}

{# Body styles #}
{% block body_styles %}
{% endblock body_styles %}

{# Header of the page #}
{% block header %}
{% include "components/header_app.html" %}
{% endblock header %}

{# Body of the page #}
{% block body %}
<div class="relative p-4 md:ml-64">
    <div class="flex flex-col gap-4 items-start justify-center w-full mt-14">
        <div class="flex flex-col gap-2">
            <small>
                <a href="{% url 'core:courses' %}" class="text-secondaryColor">Courses</a> /
            </small>
            <h2 class="text-3xl">
                {{ course.code }} {{ course.title }}
            </h2>
            <div class="flex items-center gap-2">
                <small class="text-darkColor flex gap-1 px-2.5 rounded-xl bg-darkColor/5 w-">
                    <span class="text-darkColor/50">Done on: </span>
                    {{ course.date|format_date }}
                </small>

                {% if course.is_catchup %}
                <small class="text-danger flex gap-1 px-2.5 rounded-xl bg-danger/5 w-">
                    catchup class
                </small>
                {% endif %}
            </div>
        </div>

        <div class="w-full grid grid-cols-12 gap-2">
            <div class="col-span-9 flex flex-col gap-2">
                <div class="relative right-0">
                    <ul class="relative flex flex-wrap p-1 list-none rounded-xl bg-blue-gray-50/60" data-tabs="tabs"
                        role="list">
                        <li class="z-30 w-auto px-2 rounded-xl text-center">
                            <a class="z-30 flex items-center justify-center w-full px-0 py-1 mb-0 transition-all ease-in-out border-0 rounded-lg cursor-pointer bg-inherit"
                                data-tab-target="" active="" role="tab" aria-selected="true" aria-controls="app">
                                <span class="ml-1 flex items-center gap-2">
                                    Course overview
                                </span>
                            </a>
                        </li>
                        <li class="z-30 w-auto px-2 rounded-xl text-center">
                            <a class="z-30 flex items-center justify-center w-full px-0 py-1 mb-0 transition-all ease-in-out border-0 rounded-lg cursor-pointer bg-inherit"
                                data-tab-target="" role="tab" aria-selected="false" aria-controls="message">
                                <span class="ml-1 flex items-center gap-2">
                                    Enrolled students
                                    <span class="text-sm bg-darkColor/10 px-2.5 py-0.5 rounded-md"> {{
                                        enrolled_students.count }}
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>

                    <div data-tab-content="" class="p-2">
                        <div class="block opacity-100" id="app" role="tabpanel">
                            <ul class="space-y-4">
                                <li class="">
                                    <div class="flex items-center justify-between">
                                        <p class="text-darkColor/50">Code:</p>
                                        <p class="text-darkColor">{{ course.code }}</p>
                                    </div>
                                </li>
                                <hr class="border-darkColor/10">
                                <li class="">
                                    <div class="flex items-center justify-between">
                                        <p class="text-darkColor/50">Title:</p>
                                        <p class="text-darkColor">{{ course.title }}</p>
                                    </div>
                                </li>
                                <hr class="border-darkColor/10">
                                <li class="">
                                    <div class="flex items-center justify-between">
                                        <p class="text-darkColor/50">Start time:</p>
                                        <p class="text-darkColor">{{ course.start_time }}</p>
                                    </div>
                                </li>
                                <hr class="border-darkColor/10">
                                <li class="">
                                    <div class="flex items-center justify-between">
                                        <p class="text-darkColor/50">End time:</p>
                                        <p class="text-darkColor">{{ course.end_time }}</p>
                                    </div>
                                </li>
                                <hr class="border-darkColor/10">
                                <li class="">
                                    <div class="flex items-center justify-between">
                                        <p class="text-darkColor/50">Duration:</p>
                                        <p class="text-darkColor">{{ course.duration|format_duration }}</p>
                                    </div>
                                </li>
                                <hr class="border-darkColor/10">
                                <li class="">
                                    <div class="flex items-center justify-between">
                                        <p class="text-darkColor/50">Semester:</p>
                                        <p class="text-darkColor">{{ course.semester }} {{ course.year}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="hidden opacity-0" id="message" role="tabpanel">
                            {% if enrolled_students.count > 0 %}
                            <div class="relative overflow-x-auto">
                                <table class="w-full text-sm text-left">
                                    <thead class="text-primaryColor uppercase">
                                        <tr class="border-b border-darkColor/10">
                                            <th scope="col" class="p-4">
                                                S/N
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Names
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Email
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Dep't
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Phone No
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                Observation
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for enrollment in enrolled_students %}
                                        <tr class="border-b border-darkColor/10 hover:bg-secondaryColor/5">
                                            <td class="w-4 p-4">
                                                {{ forloop.counter }}
                                            </td>
                                            <th scope="row"
                                                class="flex items-center gap-1 px-6 py-4 font-medium whitespace-nowrap">
                                                {{ enrollment.student.name}}
                                                {% if enrollment.student.is_delegate %}
                                                <div class="w-1.5 h-1.5 rounded-full bg-secondaryColor"></div>
                                                {% endif %}
                                            </th>
                                            <td class="px-6 py-4">
                                                {{ enrollment.student.email }}
                                            </td>
                                            <td class="px-6 py-4">
                                                {{ enrollment.student.department}}
                                            </td>
                                            <td class="px-6 py-4">
                                                {{ enrollment.student.phone }}
                                            </td>
                                            <td class="px-6 py-4">
                                                {% if enrollment.student.is_present %}
                                                <span class="text-success">
                                                    Present
                                                </span>
                                                {% else %}
                                                <span class="text-danger">
                                                    Absent
                                                </span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                            <p class="m-auto py-4 px-8">> No enrolled students..</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class=" flex flex-col gap-6 col-start-10 col-span-3">
                <h3 class="">Intervenants</h3>

                <div class="flex flex-col gap-2">
                    <div class="flex flex-col items-start bg-darkColor/5 rounded-2xl px-4 py-1.5 wma">
                        <small class="text-darkColor/50">Lecturer</small>
                        {% if course.lecturer %}
                        <p class="text-darkColor">{{ course.lecturer }}</p>
                        {% else %}
                        <p class="text-danger"> No lecturer </p>
                        {% endif %}
                    </div>

                    <div class="flex flex-col items-start bg-darkColor/5 rounded-2xl px-4 py-1.5 wma">
                        <small class="text-darkColor/50">Course delegate(s)</small>
                        {% for enrollment in enrolled_students %}
                        {% if enrollment.student.is_delegate %}
                        <p class="text-darkColor block">{{ enrollment.student.name }}</p>
                        {% endif %}
                        {% empty %}
                        <p class="text-danger block"> No course delegate(s) </p>
                        {% endfor %}
                    </div>

                    <small class="mt-5 px-2">
                        You are viewing this course as it was lastly edited on
                        <span class="text-secondaryColor">
                            {{ course.updated_at|format_date }}
                        </span>
                    </small>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock body %}

{# Additional javascript #}
{% block javascript %}
<!-- from cdn -->
<script src="{% static 'core/js/tabs.js' %}"></script>
{% endblock javascript %}