@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Patrick Hand";
        src: url('../../../static/core/fonts/PatrickHand-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
}