{% extends 'core/base_app.html' %}
{% load static %}
{% load tailwind_tags %}

{# Title of the page #}
{% block title %}Teaching records{% endblock %}

{# Body styles #}
{% block body_styles %}
{% endblock body_styles %}

{# Header of the page #}
{% block header %}
{% include "components/header_app.html" %}
{% endblock header %}

{# Body of the page #}
{% block body %}
<div class="p-4 sm:ml-64">
    <div class="flex flex-col gap-4 items-center justify-between mt-14">
        <div class="flex flex-col items-start gap-2 w-full md:flex-row md:items-center md:justify-between">
            <h2 class="text-2xl">Teaching Records</h2>
            <div class="relative w-full lg:w-1/3">
                <div class="absolute inset-y-0 start-0 flex items-center ps-2.5 pointer-events-none">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                        <path d="M17.5 17.5L22 22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path
                            d="M20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20C15.9706 20 20 15.9706 20 11Z"
                            stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
                    </svg>
                </div>
                <input type="search" name="search_records" id="search_courses" placeholder="search for a record..."
                    class="w-full rounded-2xl block ps-10 p-2.5 bg-whiteColor border-darkColor placeholder-darkColor/50 focus:ring-primaryColor focus:border-primaryColor transition-all duration-300 ease-in-out">
            </div>
        </div>

        <div class="w-full flex flex-col gap-2">
            <div class="">
                {% for week, records in grouped_records.items %}
                <small class="block text-sm text-secondaryColor">{{ week }}</small>
                <ul class="border-l border-secondaryColor/20">
                    {% for record in records %}
                    <li>
                        <a href="{% url 'core:record_detail' pk=record.id slug=record.course.slug %}" class="flex items-center justify-between w-full px-4 py-2 hover:bg-secondaryColor/5 transition-all duration-300 ease-linear">
                            <div class="flex items-center gap-4">
                                <span> {{ forloop.counter }}. </span>
                                <div class="">
                                    <small class="text-xs text-darkColor/50"> {{ record.created_at }} | {{ record.course.semester }} {{ record.course.year }} </small>
                                    <h3 class="text-xl font-medium"> {{ record.course.code }} {{ record.course.title }} </h3>
                                    <small class="flex items-center gap-4">
                                        <div class=""><span class="text-darkColor/50">Lecturer: </span> {{ record.course.lecturer.name }}</div>
                                        <div class="">
                                            <span class="text-darkColor/50">Delegate: </span>
                                            {% if not record.course_delegate %}
                                                {{ record.course_delegate.student.name }}
                                                {% else %}
                                                <span class="text-danger">No course delegate</span>
                                            {% endif %}
                                        </div>

                                        {% if record.course_assistant %}
                                        <div class="">
                                            <span class="text-darkColor/50">Assistant: </span>
                                            {{ record.course_assistant.student.name }}
                                        </div>
                                        {% endif %}

                                    </small>
                                </div>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" class="text-secondaryColor">
                                <path d="M9.00005 6C9.00005 6 15 10.4189 15 12C15 13.5812 9 18 9 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% empty %}
                <p>No records available.</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div title="Add course" 
    class="fixed p-3 bottom-2 right-2 flex items-center justify-center bg-primaryColor rounded-2xl shadow-md text-whiteColor">
        <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                <path d="M12 4V20M20 12H4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>
    </div>
</div>
{% endblock body %}

{# Additional javascript #}
{% block javascript %}
{% endblock javascript %}