{% if messages %}
<ul class="fixed w-auto max-w48 bottom-4 right-4 z-50">
    {% for msg in messages %}
    <li>
        <div id="alert-{{ forloop.counter }}" class="flex items-center p-4 mb-4 backdrop-blur-xl rounded-2xl border
                {% if msg.tags == 'info' %} text-info border-info bg-info/10 
                    {% elif msg.tags == 'error' %} text-danger border-danger bg-danger/10
                        {% elif msg.tags == 'success' %} text-success border-success bg-success/10
                            {% else %} text-warning border-warning bg-warning/10
                {% endif %}" role="alert">

            {% if msg.tags == 'info' %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none"
                class="text-info">
                <path
                    d="M22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12Z"
                    stroke="currentColor" stroke-width="1.5" />
                <path
                    d="M12.2422 17V12C12.2422 11.5286 12.2422 11.2929 12.0957 11.1464C11.9493 11 11.7136 11 11.2422 11"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M11.992 8H12.001" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
            <span class="sr-only">Info</span>

            {% elif msg.tags == 'error' %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none"
                class="text-danger">
                <path d="M14.9994 15L9 9M9.00064 15L15 9" stroke="currentColor" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" />
                <path
                    d="M22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12Z"
                    stroke="currentColor" stroke-width="1.5" />
            </svg>
            <span class="sr-only">Error</span>

            {% elif msg.tags == 'success' %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none"
                class="text-success">
                <path
                    d="M22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12Z"
                    stroke="currentColor" stroke-width="1.5" />
                <path d="M8 12.5L10.5 15L16 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
            <span class="sr-only">Success</span>

            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none"
                class="text-warning">
                <path
                    d="M5.32171 9.6829C7.73539 5.41196 8.94222 3.27648 10.5983 2.72678C11.5093 2.42437 12.4907 2.42437 13.4017 2.72678C15.0578 3.27648 16.2646 5.41196 18.6783 9.6829C21.092 13.9538 22.2988 16.0893 21.9368 17.8293C21.7376 18.7866 21.2469 19.6548 20.535 20.3097C19.241 21.5 16.8274 21.5 12 21.5C7.17265 21.5 4.75897 21.5 3.46496 20.3097C2.75308 19.6548 2.26239 18.7866 2.06322 17.8293C1.70119 16.0893 2.90803 13.9538 5.32171 9.6829Z"
                    stroke="currentColor" stroke-width="1.5" />
                <path
                    d="M12.2422 17V13C12.2422 12.5286 12.2422 12.2929 12.0957 12.1464C11.9493 12 11.7136 12 11.2422 12"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M11.992 8.99997H12.001" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
            <span class="sr-only">Warning</span>
            {% endif %}

            <div class="ms-3 text-sm font-medium select-none">
                {{ msg }}
            </div>
            <button type="button"
                class="ms-auto ml-2 -mx-1.5 -my-1.5 rounded-xl focus:ring-2 p-1.5 inline-flex items-center justify-center h-8 w-8 hover:bg-darkColor/10 transition-all duration-100 ease-linear"
                onclick="fadeOutAlert('alert-{{ forloop.counter }}')" 
                aria-label="Close">
                <span class="sr-only">Close</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                    class="text-slate-400" fill="none">
                    <path d="M19.0005 4.99988L5.00049 18.9999M5.00049 4.99988L19.0005 18.9999" stroke="currentColor"
                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
    </li>

    <script>
        // Function to fade out the alert element
        function fadeOutAlert(alertId) {
            var alertElement = document.getElementById(alertId);
            var opacity = 1;
            var fadeOutInterval = setInterval(function () {
                if (opacity <= 0.1) {
                    clearInterval(fadeOutInterval);
                    alertElement.style.display = 'none';
                } else {
                    opacity -= 0.1;
                    alertElement.style.opacity = opacity;
                }
            }, 50);
        }

        // Automatically fade out after 10 seconds
        setTimeout(function () {
            fadeOutAlert('alert-{{ forloop.counter }}');
        }, 10000);
    </script>
    {% endfor %}
</ul>
{% endif %}