{% extends 'core/base_app.html' %}
{% load static %}
{% load tailwind_tags %}
{% load custom_date_formatter duration_formatter time_since %}

{# Title of the page #}
{% block title %} {{ attendance }} {% endblock %}

{% block extra_styles %}
{% endblock extra_styles %}

{# Body styles #}
{% block body_styles %}
{% endblock body_styles %}

{# Header of the page #}
{% block header %}
{% include "components/header_app.html" %}
{% endblock header %}

{# Body of the page #}
{% block body %}
<div class="relative p-4 md:ml-64">
    <div class="flex flex-col gap-4 items-start justify-center w-full mt-14">
        <div class="flex items-center justify-between w-full">
            <div class="flex flex-col gap-1">
                <small>
                    <a href="{% url 'core:dashboard' level_pk=level.id level_slug=level.slug %}" class="text-secondaryColor">Attendances</a> /
                </small>
                <h2 class="text-3xl text-primaryColor">
                    Attendance for {{ attendance.course }}
                </h2>
                <small class="w-max text-darkColor flex gap-1 px-2.5 rounded-xl bg-darkColor/5 w-">
                    <span class="text-gray-500">Registered on: </span>
                    {{ attendance.created_at|format_date }}
                </small>
            </div>

            <div class="w-1/3">
                <!-- QR Reader Container -->
                <div id="qr-reader"></div>
            </div>
        </div>

        <p class="text-base text-gray-600">
            {% if enrollments.count > 0 %}
                A total of <strong>{{ enrollments.count }}</strong> student(s) attended this class.
                {% else %}
                No student recorded yet.
            {% endif %}
        </p>

        <div class="grid grid-cols-12 items-center gap-2">
            <div class="col-span-9 h-full flex flex-col gap-8">
                <div class="relative overflow-x-auto">
                    <table class="w-full text-sm text-left">
                        <thead class="text-primaryColor uppercase">
                            <tr class="border-b border-darkColor/10">
                                <th scope="col" class="p-4">
                                    S/N
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Names
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Email
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Phone No
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Gender
                                </th>
                                <th scope="col" class="px-6 py-3 bg-whiteHover">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for enrollment in enrollments %}
                            <tr class="border-b border-darkColor/10 hover:bg-secondaryColor/5">
                                <td class="w-4 p-4">
                                    {{ forloop.counter }}
                                </td>
                                <th scope="row" class="flex items-center gap-1 px-6 py-4 font-medium whitespace-nowrap">
                                    {{ enrollment.student.name}}
                                    {% if enrollment.student.is_delegate %}
                                      <div class="w-1.5 h-1.5 rounded-full bg-secondaryColor"></div>
                                    {% endif %}
                                </th>
                                <td class="px-6 py-4">
                                    {{ enrollment.student.email }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ enrollment.student.phone }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ enrollment.student.gender }}
                                </td>
                                <td class="px-6 py-4 bg-whiteHover">
                                    <div class="flex gap-2">
                                        <a href="{% url 'core:student_detail' level_pk=level.id pk=enrollment.student.id slug=enrollment.student.slug %}" class="font-medium text-primaryColor hover:underline">
                                            View
                                        </a>
                
                                        <span>|</span>
                                        
                                        <a href="{% url 'core:student_update' level_pk=level.id pk=enrollment.student.id slug=enrollment.student.slug %}" class="font-medium text-primaryColor hover:underline">
                                            Edit
                                        </a>

                                        <span>|</span>

                                        <a type="button" class="select-none cursor-pointer font-medium text-danger hover:underline" data-ripple-light="true"
                                            data-dialog-target="animated-dialog-{{ forloop.counter }}">
                                            Remove
                                        </a>

                                        <div data-dialog-backdrop="animated-dialog-{{ forloop.counter }}" data-dialog-backdrop-close="true"
                                            class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300">
                                            <div data-dialog="animated-dialog-{{ forloop.counter }}" data-dialog-mount="opacity-100 translate-y-0 scale-100"
                                                data-dialog-unmount="opacity-0 -translate-y-28 scale-90 pointer-events-none"
                                                data-dialog-transition="transition-all duration-300"
                                                class="relative m-4 w-2/5 min-w-[40%] max-w-[40%] rounded-2xl bg-whiteColor antialiased shadow-2xl">
                                                <div
                                                    class="flex flex-col items-center p-5 text-2xl antialiased shrink-0">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                                                        <path d="M16 2V4M11 2V4M6 2V4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                        <path d="M19.5 12.5V10C19.5 6.70017 19.5 5.05025 18.4749 4.02513C17.4497 3 15.7998 3 12.5 3H9.5C6.20017 3 4.55025 3 3.52513 4.02513C2.5 5.05025 2.5 6.70017 2.5 10V15C2.5 18.2998 2.5 19.9497 3.52513 20.9749C4.55025 22 6.20017 22 9.5 22H11.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                        <path d="M21.5 15L18 18.5M18 18.5L14.5 22M18 18.5L21.5 22M18 18.5L14.5 15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                                        <path d="M7 15H11M7 10H15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                                    </svg>
                                                    You're about to remove
                                                    <span class="text-danger">{{ enrollment.student.name }}</span>
                                                </div>
                                                <div
                                                    class="relative py-2 px-5 text-base antialiased leading-relaxed">
                                                    Removing this student will only remove him/her from the {{ attendance }} 
                                                </div>
                                                <div class="flex flex-wrap items-center justify-end p-4 shrink-0 text-blue-gray-500">
                                                    <button data-ripple-dark="true" data-dialog-close="true"
                                                        class="px-6 py-3 mr-1 font-sans text-sm font-bold uppercase transition-all rounded-xl middle none center hover:bg-info/10">
                                                        Cancel
                                                    </button>
                                                    <form action="{% url 'core:attendance_detail' level_pk=level.id level_slug=level.slug pk=attendance.id %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="enrollment_id" value="{{ enrollment.id }}">
                                                        <button name="delete_enrollment" 
                                                            data-ripple-light="true" data-dialog-close="true"
                                                            class="middle none center rounded-xl bg-danger py-3 px-6 text-sm font-bold uppercase text-whiteColor shadow-md shadow-red-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40">
                                                            Remove student
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="flex items-center justify-between text-base">
                    <div class="flex items-center gap-2">
                        <a href="{% url 'core:enroll_add' level_pk=level.id level_slug=level.slug pk=attendance.id %}"
                            class="flex items-center gap-1 py-2 px-4 rounded-xl text-whiteColor bg-primaryColor hover:bg-blue-950 transition-all duration-300 ease-linear">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" class="w-5">
                                <path
                                    d="M12.5 22H6.59087C5.04549 22 3.81631 21.248 2.71266 20.1966C0.453365 18.0441 4.1628 16.324 5.57757 15.4816C7.67837 14.2307 10.1368 13.7719 12.5 14.1052C13.3575 14.2261 14.1926 14.4514 15 14.7809"
                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M16.5 6.5C16.5 8.98528 14.4853 11 12 11C9.51472 11 7.5 8.98528 7.5 6.5C7.5 4.01472 9.51472 2 12 2C14.4853 2 16.5 4.01472 16.5 6.5Z"
                                    stroke="currentColor" stroke-width="1.5" />
                                <path d="M18.5 22L18.5 15M15 18.5H22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                            </svg>
                            admit manually
                        </a>
    
                        <a href="{% url 'core:record_detail' level_pk=level.id pk=attendance.teaching_record.id slug=attendance.course.slug %}"
                            class="flex items-center gap-1 p-2 pe-3 rounded-xl transition-all duration-300 ease-linear text-whiteColor bg-secondaryColor hover:bg-orange-600 group">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                                <path d="M16.6127 16.0846C13.9796 17.5677 12.4773 20.6409 12 21.5V8C12.4145 7.25396 13.602 5.11646 15.6317 3.66368C16.4868 3.05167 16.9143 2.74566 17.4572 3.02468C18 3.30371 18 3.91963 18 5.15146V13.9914C18 14.6568 18 14.9895 17.8634 15.2233C17.7267 15.4571 17.3554 15.6663 16.6127 16.0846L16.6127 16.0846Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M12 7.80556C11.3131 7.08403 9.32175 5.3704 5.98056 4.76958C4.2879 4.4652 3.44157 4.31301 2.72078 4.89633C2 5.47965 2 6.42688 2 8.32133V15.1297C2 16.8619 2 17.728 2.4626 18.2687C2.9252 18.8095 3.94365 18.9926 5.98056 19.3589C7.79633 19.6854 9.21344 20.2057 10.2392 20.7285C11.2484 21.2428 11.753 21.5 12 21.5C12.247 21.5 12.7516 21.2428 13.7608 20.7285C14.7866 20.2057 16.2037 19.6854 18.0194 19.3589C20.0564 18.9926 21.0748 18.8095 21.5374 18.2687C22 17.728 22 16.8619 22 15.1297V8.32133C22 6.42688 22 5.47965 21.2792 4.89633C20.5584 4.31301 19 4.76958 18 5.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <span class="whitespace-nowrap">View teaching record</span>
                        </a>
                    </div>

                    <a href="{% url 'core:attendance_update' level_pk=level.id level_slug=level.slug pk=attendance.id %}"
                        class="flex items-center gap-1 p-2 pe-3 rounded-xl transition-all duration-300 ease-linear text-primaryColor bg-primaryColor/10 hover:bg-primaryColor/20 group">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                            <path d="M10.2892 21.9614H9.39111C6.14261 21.9614 4.51836 21.9614 3.50918 20.9363C2.5 19.9111 2.5 18.2612 2.5 14.9614V9.96139C2.5 6.66156 2.5 5.01165 3.50918 3.98653C4.51836 2.9614 6.14261 2.9614 9.39111 2.9614H12.3444C15.5929 2.9614 17.4907 3.01658 18.5 4.04171C19.5092 5.06683 19.5 6.66156 19.5 9.96139V11.1478" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M15.9453 2V4M10.9453 2V4M5.94531 2V4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M7 15H11M7 10H15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                            <path opacity="0.93" d="M20.7598 14.8785C19.8544 13.8641 19.3112 13.9245 18.7076 14.1056C18.2851 14.166 16.8365 15.8568 16.2329 16.3952C15.2419 17.3743 14.2464 18.3823 14.1807 18.5138C13.9931 18.8188 13.8186 19.3592 13.7341 19.963C13.5771 20.8688 13.3507 21.8885 13.6375 21.9759C13.9242 22.0632 14.7239 21.8954 15.6293 21.7625C16.2329 21.6538 16.6554 21.533 16.9572 21.3519C17.3797 21.0983 18.1644 20.2046 19.5164 18.8761C20.3644 17.9833 21.1823 17.3664 21.4238 16.7626C21.6652 15.8568 21.3031 15.3737 20.7598 14.8785Z" stroke="currentColor" stroke-width="1.5" />
                        </svg>
                        <span class="whitespace-nowrap">Edit attendance info</span>
                    </a>
                </div>
            </div>

            <div class="col-span-3 flex flex-col gap-2.5">
                <h3 class="text-2xl text-primaryColor">
                    Course attendance details
                </h3>

                <div class="flex flex-col items-start py-0.5 px-4">
                    <small class="text-gray-500 text-sm">Course code & title:</small>
                    <span class="text-base"> {{ attendance.course }} </span>
                </div>

                <hr class="border-gray-400">

                <div class="flex flex-col items-start py-0.5 px-4">
                    <small class="text-gray-500 text-sm">Lecturer:</small>
                    <span class="text-base"> {{ attendance.course.lecturer }} </span>
                </div>

                <hr class="border-gray-400">

                <div class="flex flex-col items-start py-0.5 px-4">
                    <small class="text-gray-500 text-sm">Course date: ({{ attendance.course_date|time_ago }})</small>
                    <span class="text-base"> {{ attendance.course_date|format_date }} </span>
                </div>

                <hr class="border-gray-400">

                <div class="flex flex-col items-start py-0.5 px-4">
                    <small class="text-gray-500 text-sm">Course start time ~ end time: ({{ attendance.course_duration|format_duration }})</small>
                    <span class="text-base"> {{ attendance.course_start_time }} ~ {{ attendance.course_end_time }} </span>
                </div>

                <hr class="border-gray-400">

                <div class="flex flex-col items-start py-0.5 px-4">
                    <small class="text-gray-500 text-sm">Course delegate(s} & assistant(s):</small>
                    {% for delegate in course_delegates %}
                        {% if delegate.role == 'delegate' %}
                            <span class="text-base ms-2">
                                <span class="text-sm text-secondaryColor me-1">Del.</span>
                                {{ delegate.student.name }}
                            </span>
                            {% endif %}
                            
                            {% if delegate.role == 'assistant' %}
                            <span class="text-base ms-2">
                                <span class="text-sm text-secondaryColor me-1">Ast.</span>
                                {{ delegate.student.name }}
                            </span>
                        {% endif %}
                        {% empty %}
                        <span class="text-danger"> No course delegate </span>
                    {% endfor %}
                </div>

                <hr class="border-gray-400">

                <div class="flex flex-col items-start py-0.5 px-4">
                    <small class="text-gray-500 text-sm">Class type:</small>
                    {% if not attendance.is_catchup %}
                    <span class="text-base">Normal class</span>
                    {% else %}
                    <span class="text-danger">Catch-up class</span>
                    {% endif %}
                </div>

                <hr class="border-gray-400">

                <div class="flex items-center text-gray-600 gap-2 text-sm py-0.5 px-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" class="">
                        <path d="M22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12Z" stroke="currentColor" stroke-width="1.5" />
                        <path d="M12.2422 17V12C12.2422 11.5286 12.2422 11.2929 12.0957 11.1464C11.9493 11 11.7136 11 11.2422 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M11.992 8H12.001" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <p class="">
                        You are viewing this attendance info as it was last updated on
                        <span class="text-secondaryColor">
                            {{ attendance.updated_at|format_date }}
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "components/message.html" %}
{% endblock body %}

{# Additional javascript #}
{% block javascript %}
<script src="{% static 'core/js/dialog.js' %}"></script>
<script src="{% static 'core/js/popover.js' %}" type="module"></script>
<script src="{% static 'core/js/html-qr-code.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let html5QrcodeScanner = new Html5QrcodeScanner(
            "qr-reader", { fps: 10, qrbox: 230 });

        function onScanSuccess(decodedText, decodedResult) {
            // Send the decoded data to the server via AJAX
            fetch("{% url 'core:decode_qr' level_pk=level.id level_slug=level.slug pk=attendance.id %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ qr_data: decodedText })
            })
            .then(response => response.json())
            .then(data => {
                <!-- print data -->
                console.log(data);
                if (data.success) {
                    // Ask for user confirmation
                    const confirmation = confirm(`Do you want to add \n\tStudent: ${data.student_name}\n\tClass/Level: ${data.class_level}\n\tHas this course registered?: ${data.has_registered} \nto the current attendance?`);
                    if (confirmation) {
                        // Send the data to add the student to the course
                        fetch("{% url 'core:add_student_to_course_attendance' level_pk=level.id level_slug=level.slug pk=attendance.id %}", {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            },
                            body: JSON.stringify({ qr_data: decodedText })
                        })
                        .then(response => response.json())
                        .then(addData => {
                            if (addData.success) {
                                alert(`Student: ${addData.student_name} has been successfully added to the attendance for ${addData.course}.`);
                                // Stop the camera and reload the window after successful addition
                                html5QrcodeScanner.clear().then(() => {
                                    window.location.href = "{% url 'core:attendance_detail' level_pk=level.id level_slug=level.slug pk=attendance.id %}";
                                }).catch(error => {
                                    console.error('Error stopping the camera:', error);
                                    window.location.href = "{% url 'core:attendance_detail' level_pk=level.id level_slug=level.slug pk=attendance.id %}";
                                });
                            } else {
                                alert(`Failed to add student to the attendance: ${addData.error}`);
                            }
                        })
                        .catch(error => console.error('Error:', error));
                    }
                } else {
                    alert('Failed to decode QR code.');
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function onScanFailure(error) {
            console.warn(`QR error: ${error}`);
        }

        html5QrcodeScanner.render(onScanSuccess, onScanFailure);
    });
</script>
{% endblock javascript %}