{% extends "core/errors/base_errors.html" %}
{% load static %}
{% load tailwind_tags %}

{% block title %}Ohh! An issue with the server{% endblock title %}

{% block body %}
    <div class="flex flex-col items-center justify-center gap-4">
        <img src="{% static 'core/images/error_500.svg' %}" alt="Error 500: Server error" class="w-full md:w-2/5 select-none pointer-events-none">
        <div class="space-y-2 text-center">
            <h2 class="text-2xl">
                Sorry! We are having some issues with the server.
            </h2>
            <p>
                While you're here, you might consider
            </p>
        </div>
        <a href="{% url 'core:home' %}" class="px-4 py-2 rounded-2xl border border-primaryColor text-primaryColor hover:bg-whiteHover transition-all duration-100 ease-linear">
            Going back to a safe place
        </a>
    </div>
{% endblock body %}

{# Footer of the page #}
{% block footer %}
{% include "components/footer.html" %}
{% endblock footer %}